{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" type="Seleccione una Facultad">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-img-top"><img class="img-fluid"
                                                       src="http://descubre.pucp.edu.pe/imagesv2/dep021/pabellon%20v%20telecomunicaciones%20informatica.jpg"
                                                       alt="Card image cap"></div>
                        <div class="card-body">
                            <a class="btn btn-primary btn-sm" href="#!">Editar</a>
                            <a class="btn btn-primary btn-sm" href="#!">Estado</a>
                            <h5 class="card-title">Ingeniería Informática</h5></div>
                    </div>
                    <div class="card">
                        <div class="card-img-top"><img class="img-fluid"
                                                       src="http://descubre.pucp.edu.pe/imagesv2/lug025/IMG_4580.jpg"
                                                       alt="Card image cap"></div>
                        <div class="card-body">
                            <a class="btn btn-primary btn-sm" href="#!">Editar</a>
                            <a class="btn btn-primary btn-sm" href="#!">Estado</a>
                            <h5 class="card-title">Ingeniería Industrial</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img-top"><img class="img-fluid" src="../assets/img/generic/8.jpg"
                                                       alt="Card image cap"></div>
                        <div class="card-body">
                            <a class="btn btn-primary btn-sm" href="#!">Editar</a>
                            <a class="btn btn-primary btn-sm" href="#!">Estado</a>
                            <h5 class="card-title">Nueva Especialidad</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
