{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        html {
            font-family: 'Open Sans', sans-serif;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .alignRight {
            position: absolute;
            right: 20px;
            top: 8px;
        }

        .iconSize {
            font-size: 23px;
            z-index: 9999;
        }

        .iconColorNBorder {
            color: white;
            stroke: black;
            stroke-width: 6;
            z-index: 9999;
        }

        .equal {
            margin-top: 20px;
        }

        .light-300 {
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 300;
        }


        .typo-space-line::after,


            /* Main Nav */
        #main_nav .nav-item .nav-link:hover {
            color: #fff;
        }

        /* Home */
        #index_banner {
            background-image: url('./../img/banner-bg-01.jpg');
            background-position: center center;
            background-size: cover;
            height: 100%;
            min-height: 60vh;
            width: 100%;
        }

        #index_banner .carousel-item {
            min-height: 60vh;
        }

        #index_banner .carousel-control-prev i,
        #index_banner .carousel-control-next i {
            color: #FFADB9 !important;
            text-decoration: none;
            font-size: 4em;
        }

        #index_banner .carousel-inner {
            height: 80vh;
        }

        #index_banner .carousel-indicators li,
        #index_banner .carousel-indicators.active {
            background-color: #FFADB9 !important;
        }

        .service-wrapper .service-footer {
            max-width: 720px;
        }

        .service-work.card {
            border-radius: 10px !important;
            cursor: pointer;
        }

        .service-work .service-work-vertical {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .service-work .service-work-vertical-ruk:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .recent-work.card {
            border-radius: 10px !important;
        }

        .recent-work .recent-work-vertical {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(1, 126, 205, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical-ruk {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgb(27, 106, 154) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical:hover * {
            color: white;
            transition: .5s;
        }

        /*¨*/
        .recent-work .recent-work-vertical-ruk:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical-ruk:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical-ruk:hover * {
            color: white;
            transition: .5s;
        }


        .team-member:hover .team-member-img {
            padding: 10px !important;
        }

        /* Footer */
        footer a.text-light:hover {
            color: #bfbfbf !important;
            transition-duration: 0.15s;
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" style="height: 25px" id="exampleFormControlSelect1"
                                aria-label="Seleccione una Facultad">
                        </select>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" style="height: 25px" id="exampleFormControlSelect1"
                                aria-label="Seleccione una Facultad">
                        </select>
                    </div>
                </div>
                <div class="row" style="width: 100%">
                    {% for especialidad in ListaEspecialidad %}
                        <div class="col-md-4 equal">
                            <a class="recent-work card border-0 shadow-lg overflow-hidden">
                                <div class="card-img-top recent-work-img ">
                                    <img class="img-fluid" style="height: 100%; width: 100%; "
                                         src="/media/img/{{ especialidad.foto.name }}/"
                                         alt="Card image cap">
                                </div>
                                <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                                    <div class="service-work-content text-left text-light">
                                        <div class="row alignRight">
                                            <div class="nav-link icon-indicator" href="{% url 'listarFacultad' %}"
                                                 role="button">
                                                <div style="text-align: center;">
                                        <span class="fas fa-pen iconSize iconColorNBorder"><span>
                                                </div>
                                            </div>
                                            <div class="nav-link icon-indicator" href="{% url 'listarEspecialidad' %}"
                                                 role="button">
                                                <div style="text-align: center;">
                                            <span class="fas fa-power-off iconSize iconColorNBorder"><span>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title mt-6"
                                            style="text-align: center">{{ especialidad.nombre }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    <div class="col-md-4 equal">
                        <a class="recent-work card border-0 shadow-lg overflow-hidden">
                            <div class="card-img-top recent-work-img ">
                                <img class="img-fluid" style="height: 200px; width: 100%; "
                                     src="/media/img/WhatsApp_Image_2020-07-27_at_6.51.35_PM_2.jpeg/"
                                     alt="Card image cap">
                            </div>
                            <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                                <div class="service-work-content text-left text-light">
                                    <div class="row alignRight">
                                        <div class="nav-link icon-indicator" href="{% url 'listarFacultad' %}"
                                             role="button">
                                            <div style="text-align: center;">
                                        <span class="fas fa-pen iconSize iconColorNBorder"><span>
                                            </div>
                                        </div>
                                        <div class="nav-link icon-indicator" href="{% url 'listarEspecialidad' %}"
                                             role="button">
                                            <div style="text-align: center;">
                                            <span class="fas fa-power-off iconSize iconColorNBorder"><span>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-6" style="text-align: center">Ingeniería Informática</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 equal">
                        <a class="recent-work card border-0 shadow-lg overflow-hidden"
                           href="{% url 'agregarEspecialidad' %}">
                            <div class="nav-link icon-indicator" role="button" style="height: 200px; width: 100%;">
                                <div class="mt-4" style="text-align: center;">
                                            <span class="fas fa-plus fa-9x" style="text-align: center"><span>
                                </div>
                            </div>
                            <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                                <div class="service-work-content text-left text-light">
                                    <h5 class="card-title mt-6" style="text-align: center">Agregar Especialidad</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}