{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: center;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload {

            width: 100%;
        }

        .wrapper {
            text-align: center;
        }

        .button {
            position: absolute;
            top: 50%;
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <div class="container-fluid">
        <div class="card p-5">
            <form action="{% url 'editarHorario' id_horario=horario.pk %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="mb-0">Editar Horario</h3>
                <hr>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <label for="name">Nombre</label>
                            <input name="name" class="form-control p-3" id="name" type="text"
                                   placeholder="Ingrese el codigo del horario" value="{{ horario.codigo }}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccione responsable(s)</label>
                        <select name="responsable" class="form-control" id="exampleFormControlSelect1">
                            {% for responsable in ListaUsuarios %}
                                {% if id_responsable|add:"0" == responsable.pk %}
                                    <option value={{ responsable.pk }} selected>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                                {% else %}
                                    <option value={{ responsable.pk }}>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% comment %}
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Ingrese una imagen para la especialidad</label>
                        <div class="input-group">
                            <input name="photo_name" type="text" class="form-control" readonly>
                            <span class="input-group-btn pb-3">
                                        <span class="btn btn-primary btn-file ml-3 " type="button">
                                            Buscar… <input name="photo" type="file" id="imgInp">
                                        </span>
                                    </span>
                        </div>
                        <img id='img-upload'/>
                    </div>
                    {% endcomment %}

                </div>
                <div class="wrapper mt-5">
                    <a class="btn btn-outline-primary mr-3 mb-1" type="button"
                       href="{% url 'listarCursoxHorario' id_curso=horario.curso.pk %}">Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary mr-3 mb-1" type="button">Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });

        var selectedValue = sessionStorage.getItem("selectedValue");

        //alert(selectedValue)

        function SelectedValue() {
            document.getElementById("facultadFormControl").value = selectedValue;
        }
    </script>

{% endblock %}