{% extends 'cali/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}


{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}
    <div>
        <h1> REGISTRO DE PARTIDOS POLITICOS</h1>

        <form action="{% url 'caliHome' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div>Nombre de partido:</div>
                <input id="nombre" type="text" name="nombre" value="">
            </div>

            <div class="form-group">
                <div>Nombre de Candidato:</div>
                <input id="nombreCandidato" type="text" name="nombreCandidato" value="">
            </div>

            <div class="form-group">
                <div>Postura política:</div>
                <input id="postura" type="text" name="postura" value="">
            </div>

            <div class="form-group">
                <div>Fecha de Registro del partido:</div>
                <input id="fecha" type="date" name="fecha" value="">
            </div>

            <input type="submit" value="Registrar">
        </form>


    </div>
    <div>

    {% if request.POST %}
        <h2> Se registró correctamente el partido político</h2>
    {% endif %}

    {% for candidato in listaCandidatos %}


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.MuxdorIkpf3qY2dfDByMHgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ candidato.nombre }}</h5>
                <br>
                <h5 class ="card-subtitle">{{ candidato.nombreCandidato }} </h5>
                <p class="card-text">.</p>
                <a href="{% url 'candidatoDetalle' pk=candidato.pk %}" class="btn btn-primary">ver detalle</a>
                <a href="{% url 'eliminarCandidato' pk=candidato.pk %}" class="btn btn-primary"><i class="fab fa-xing-square" aria-hidden="true"></i> Eliminar </a>

               </div>
        </div>
        <br>


        {% endfor %}




    </div>


{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>
        function show() {

            {#Por javascript#}
            let element = document.getElementById("campoTexto");
            console.log(element.value)

            {#Por Jquery#}
            console.log($("#campoTexto").val())
            $("#campoTexto").val("TEXTO HARDCODEADO")
            $("#campoTexto1").hide()
            $("#campoTexto2").hide()
            $("#campoTexto3").hide()


        }

    </script>
{% endblock %}


