{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

    <link href="{% static 'lib/flatpickr/flatpickr.min.css'%}" rel="stylesheet">

    <style>
        #Titulo{
            color: #0154ae
        }

        p{
            line-height: 20%;
            text-align: center;

        }

        label{
            color: #f9fafd;
        }
        .plus {

            display: inline-block;
            color: #000;
            font-size: 80px;
            line-height: 80px;

        }

        .plus::before {
            content: "+";
        }

        .card:hover .plus{
            background-color: #0154ae;
            color: #f9fafd  !important;
            cursor: pointer;

        }

        .card:hover{
            background-color: #0154ae;
            color: #f9fafd  !important;
            cursor: pointer;
        }

        .datetimepicker {
            changeYear: false !important;
        }


    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="row d-flex justify-content-center ">

        <div class="col-10">
            <h4 id="Titulo">Creación de Semestre</h4>
        </div>
        <div class="col-2">
            <a href="#Titulo"><h5 id="Retroceder">
                <img class="img-fluid" style="height: 20px"
                     src="https://image.flaticon.com/icons/png/512/60/60577.png">
                <u>Volver</u>
            </h5></a>
        </div>
    </div>

    <hr style="background-color: #0154ae;">

    <div id="Semestres" class="row d-flex  mt-1">

        <div id="Anadir" class=" col-xl-3 col-md-4 col-sm-6 p-2">
            <div class="card ">
                <div class="card-body-top pb-0 d-flex justify-content-center">
                    <a class=" btn-link   btn-sm" href="#agregarSemestreNuevo" data-toggle="modal">
                        <div class="plus alt">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {% for semestre in ListaSemestre %}
            <div class=" col-xl-3 col-md-4 col-sm-6 p-2">
                <div class="card">
                    <div class="card-body" >
                        <p class="card-title">{{semestre.nombreCodigo}}</p>
                        <p class="card-text">Del {{semestre.inicio}}</p>
                        <p class="card-text">hasta {{semestre.fin}}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="agregarSemestreNuevo" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":true,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" style="opacity: 0.90" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar" style="background-color: #017ECD;" >

                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <h5 style="color: #f9fafd">Agregar Semestre</h5>
                        <hr  style="background-color: #f9fafd; width: 70%">
                    </div>

                    <div class="row d-flex justify-content-center m-2">
                        <form name= "formAgregar" id="formAgregar">

                            <div class="form-group row">
                                <label name = "boxSemestre" for="boxSemestre" class="col-sm-4 col-form-label">Semestre</label>

                                    <input type="text" class="form-control col-sm-8" id="boxSemestre" name="boxSemestre" placeholder="20XX-X" maxlength="6" >

                            </div>

                            <br>

                            <div class="form-group row">
                                <label for="dateInicio" class="col-sm-4 col-form-label">Inicio</label>
                                    <input type="text" class="form-control datetimepicker col-sm-8" id="dateInicio" name="dateInicio" data-options='{"dateFormat":"d/m"}' >
                            </div>

                            <br>

                            <div class="form-group row">
                                <label for="dateFin" class="col-sm-4 col-form-label">Fin   </label>
                                <input type="text" class="form-control datetimepicker col-sm-8" id="dateFin" name="dateFin" data-options='{"dateFormat":"d/m"}' >
                            </div>

                            <br>

                            <div class="form-group row m-3 p-2">
                                <div class="col-sm-6">
                                    <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal" aria-label="Close">Cancelar
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button id="agr" type="button" class="btn btn-primary"  onclick="validar()">Aceptar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>


    <script>
        function validar(){
            $("form[name='formAgregar']").validate({
                rules: {
                    boxSemestre : {
                        required: true,
                    },
                    dateInicio: {
                        required: true,
                    },

                    dateFin: {
                        required: true,

                    },

                },
                messages : {
                    boxSemestre: {
                        required: "Por favor ingrese el semestre"
                    },
                    dateInicio: {
                        required: "Por favor ingrese la fecha de inicio"
                    },
                    dateFin: {
                        required: "Por favor ingrese la fecha de fin"
                    }
                }
            });

        };
    $("#agr").on('click',function (){
       if($("#formAgregar").valid()){
           agregar();
       }
    });

    </script>
    <script>
        function agregar(){
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarSemestre'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    nombreCodigo: $("#boxSemestre").val(),
                    inicio: $("#dateInicio").val(),
                    fin: $("#dateFin").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["nuevoSemestre"]);
                    var fields = instance[0]["fields"];

                    data = '<div class=" col-xl-3 col-md-4 col-sm-6 p-2">'+
                        '<div class="card">'+
                        '    <div class="card-body">'+
                        '       <p class="card-title">'+fields.nombreCodigo+'</p>'+
                        '       <p class="card-text">Del: '+fields.inicio+'</p>'+
                        '       <p class="card-text">hasta: '+fields.fin+'</p>'+
                        '    </div>'+
                        '</div>'+
                        '</div>'

                    $(data).insertAfter($("#Anadir"));

                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

{% endblock %}