{#Heredar toda la estructura de base#}
{% extends 'home/base/home_base.html' %}
{% load static %}

{#Bloque de extra style -> css#}

{% block extrastyle %}
    <style>
        html {
            font-family: 'Open Sans', sans-serif;
        }

        /* Typography */
        p, a {
            font-weight: 400;
        }


        .light-300 {
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 300;
        }


        .typo-space-line::after,


            /* Main Nav */
        #main_nav .nav-item .nav-link:hover {
            color: #fff;
        }

        /* Home */
        #index_banner {
            background-image: url('./../img/banner-bg-01.jpg');
            background-position: center center;
            background-size: cover;
            height: 100%;
            min-height: 60vh;
            width: 100%;
        }

        #index_banner .carousel-item {
            min-height: 60vh;
        }

        #index_banner .carousel-control-prev i,
        #index_banner .carousel-control-next i {
            color: #FFADB9 !important;
            text-decoration: none;
            font-size: 4em;
        }

        #index_banner .carousel-inner {
            height: 80vh;
        }

        #index_banner .carousel-indicators li,
        #index_banner .carousel-indicators.active {
            background-color: #FFADB9 !important;
        }

        .service-wrapper .service-footer {
            max-width: 720px;
        }

        .service-work.card {
            border-radius: 10px !important;
            cursor: pointer;
        }

        .service-work .service-work-vertical {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .service-work .service-work-vertical-ruk:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .recent-work.card {
            border-radius: 10px !important;
        }

        .recent-work .recent-work-vertical {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(181, 72, 83, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical-ruk {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgb(27, 106, 154) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical:hover * {
            color: white;
            transition: .5s;
        }

        /*¨*/
        .recent-work .recent-work-vertical-ruk:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical-ruk:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical-ruk:hover * {
            color: white;
            transition: .5s;
        }


        .team-member:hover .team-member-img {
            padding: 10px !important;
        }


        /* Footer */
        footer a.text-light:hover {
            color: #bfbfbf !important;
            transition-duration: 0.15s;
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}


    {% include 'home/components/banner.html' %}
    {% include 'home/components/services.html' %}



    <section class="bg-light py-5">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <h3 class="feature-work-title h4 text-muted light-300">Featured Work</h3>
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600">Transform with us</h1>
                    <p class="feature-work-body text-muted light-300">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <p class="feature-work-footer text-muted light-300">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" >
                            <img class="img-fluid" src="{% static 'img/illustrations/2.png' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="./assets/img/feature-work-2-large.jpg">
                            <img class="img-fluid" src="{% static 'img/illustrations/4.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}



{#Bloque de extra JS -> JS#}

{% block extrajs %}
    <script>

    </script>
{% endblock %}
