django==2.2.13
djangorestframework==3.11.1
django-storages
drf-yasg==1.17.1
gunicorn
psycopg2-binary
requests~=2.22.0
django-sendgrid-v5==0.9.0
pyyaml
ua-parser
user-agents
django-user-agents
requests
