{% extends 'base/base.html' %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #Titulo2 {
            color: #0154ae
        }

    </style>
{% endblock %}

{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    {# Rubrica #}
    <div class="card p-3">
        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo" style="font-family: Montserrat">Curso </h4>
        </div>
        <hr class="mb-3" style="background-color: #0154ae;">


        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo2" style="font-family: Montserrat">Documentacion General </h4>
        </div>
        <hr class="mb-3" style="background-color: #0154ae;">

        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo2" style="font-family: Montserrat">Rubricas pasadas </h4>
        </div>
        <hr class="mb-3" style="background-color: #0154ae;">
    </div>

{% endblock %}
