
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #Titulo2 {
            color: #0154ae
        }

    </style>
{% endblock %}

{% block body %}
    {# Rubrica #}
    <div class="card p-3">
        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo" style="font-family: Montserrat">{{ cursoSeleccionado.nombre }}</h4>
        </div>
        <hr class="mb-3" style="background-color: #0154ae;">


        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo2" style="font-family: Montserrat">Documentacion General </h4>
        </div>
        <hr class="mb-3" style="background-color: #0154ae;">
        {% for nombre,documento in listaAux%}
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div class="mr-auto p-2">{{ nombre}}</div>
                    <div class="p-2">Publicado el {{ documento.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</div>
                    <div class="p-2">
                        <button type="submit" class="badge rounded-capsule badge-soft-success outline-none">
                            <span>Descargar</span>
                        </button>
                    </div>
                </div>

            </div>
            <hr class="mb-3" style="background-color: gray;">
        {% endfor %}
        <div id="demo"></div>


        <div class="col-12 d-flex justify-content-start">
            <h4 id="Titulo2" style="font-family: Montserrat">Rubricas Pasadas </h4>
        </div>

        <hr class="mb-3" style="background-color: #0154ae;">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <div class="mr-auto p-2">Rubrica 1.csv</div>
                <div class="p-2">Publicado el 07/06/2021</div>
                <div class="p-2">
                    <button type="submit" class="badge rounded-capsule badge-soft-success outline-none">
                        <span>Descargar</span>
                    </button>
                </div>
            </div>

        </div>
        <hr class="mb-3" style="background-color: gray;">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <div class="mr-auto p-2">Rubrica 2.csv</div>
                <div class="p-2">Publicado el 08/06/2021</div>
                <div class="p-2">
                    <button type="submit" class="badge rounded-capsule badge-soft-success outline-none">
                        <span>Descargar</span>
                    </button>
                </div>
            </div>

        </div>
        <hr class="mb-3" style="background-color: gray;">
    </div>

{% endblock %}
{% block extrajs %}
<script>

</script>
{% endblock %}