{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/select2/select2.min.css' %}" rel="stylesheet">
    <style>
        .modal-side {
            display: inline-block;
            padding: 24px 32px;
            border: 0;
            text-decoration: none;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            letter-spacing: 2px;
            cursor: pointer;
            text-transform: uppercase;

        }

        .card:hover .card-title {
            color: #f9fafd;
        }

        .card:hover .card-text {
            color: #f9fafd;
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    <form id="cancelar" action="{% url 'listarPlanMedicion' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="operacion" value="entrada">
        <input type="hidden" name="planCurso" value="{{ plan.pk }}">
        <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
        <input type="hidden" name="planMedicion" value="{{ planMedicion.pk }}">
        <input type="hidden" name="semestre" value="{{ semestre.pk }}">
        <input type="hidden" name="estado" value="1">
    </form>
    {% if insert %}
        <form action="{% url 'crearPlanMedicion' pk=plan.pk %}" method="post">
        {% csrf_token %}
    {% endif %}
<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9">
                {% if insert %}
                    <h3 class="mb-0"> {{ especialidad.nombre }} - Añadir curso a ser evaluado </h3>
                {% else %}
                    <h3 class="mb-0"> {{ planMedicion.codigo }} {{ planMedicion.nombre }} - Editar curso a ser
                        evaluado </h3>
                {% endif %}
            </div>
            <div class="col-md-3 text-right">
                <button class="btn" type="submit" form="cancelar">
                    <a class="d-flex flex-row justify-content-end mt-2 mr-3">
                        <div class="fas fa-reply mt-1 mr-2"></div>
                        <h5>Volver</h5>
                    </a>
                </button>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="form-group mt-2">
                    <label for="exampleFormControlSelect1">Curso</label>
                    {% if request.user.rol_actual == 'Coordinador de facultad' %}
                        <select id="cursos" name="curso" class="form-control" id="exampleFormControlSelect1" disabled>
                    {% else %}
                        <select id="cursos" name="curso" class="form-control" id="exampleFormControlSelect1">
                    {% endif %}
                    {% if insert %}
                        {% for curso in listaCursos %}
                            <option value={{ curso.pk }}>{{ curso.nombre }}</option>
                        {% endfor %}
                    {% else %}
                        <option value={{ plan.curso.pk }}>{{ plan.curso.nombre }}</option>
                    {% endif %}
                    </select>
                </div>
            </div>
        </div>

        {% if not insert %}
            <div class="col">
                <div class="row d-flex justify-content-between">
                    <label for="exampleFormControlSelect2">Horarios</label>
                    {% if request.user.rol_actual != 'Coordinador de facultad' %}
                        <button class="btn btn-falcon-default btn-sm mr-1 mb-2" type="button" href="#informacionHorario"
                                data-toggle="modal" onclick="limpiarModal()">
                            <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>
                        </button>
                    {% endif %}
                </div>
            </div>
            <br>
            <div id="horariosSelec" class="row d-flex">
                {% for horario in horariosSelec %}
                    <div id="horario{{ horario.pk }}" class="col-md-3">
                        <div class="card m-1">
                            <div class="card-body" style="padding: 1rem">
                                <div class="row">
                                    {% if request.user.rol_actual != 'Coordinador de facultad' %}
                                        <div class="col-md-8 p-0 d-flex justify-content-center">
                                            <a id="textoHorarioCard{{ horario.pk }}" class="btn p-0 "
                                               href="#informacionHorario"
                                               data-toggle="modal"
                                               onclick='mostrarHorario("{{ horario.pk }}")'>{{ horario.codigo }}</a>
                                        </div>

                                        <div class="col-md-4 p-0 d-flex justify-content-center"
                                             style="border-left: 1px solid">
                                            <a class="btn p-0" onclick='quitarHorario("{{ horario.pk }}")' href="#!">
                                                <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-12 p-0 d-flex justify-content-center">
                                            <a id="textoHorarioCard{{ horario.pk }}" class="btn p-0 "
                                               href="#informacionHorario"
                                               data-toggle="modal"
                                               onclick='mostrarHorario("{{ horario.pk }}")'>{{ horario.codigo }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if insert %}
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="form-group mt-2">
                        <label for="exampleFormControlSelect1">Estado</label>
                        <select name="estado" class="form-control" id="exampleFormControlSelect3">
                            {% for estado in listaEstados %}
                                <option value={{ estado.0 }}>{{ estado.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if not insert %}
            <div class="col">
                <div class="row d-flex justify-content-between pt-4">
                    <label for="exampleFormControlSelect4">Indicadores</label>
                    {% if request.user.rol_actual != 'Coordinador de facultad' %}
                        <button class="btn btn-falcon-default btn-sm mr-1 mb-2" type="button"
                                onclick="agregarIndicador()">
                            <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span>
                        </button>
                    {% endif %}
                </div>
            </div>
            {% if request.user.rol_actual != 'Coordinador de facultad' %}
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <select name="horarios" class="form-control" id="indicador">
                            {% for indicador in listaIndicadores %}
                                <option value={{ indicador.pk }}>{{ indicador.codigo }}
                                    - {{ indicador.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
            <br>
            <div id="indicadoresSelec" class="row d-flex">
                {% for indicador in indicadoresSelec %}
                    <div id="indicador{{ indicador.pk }}" class="col-md-3">
                        <div class="card m-1">
                            <div class="card-body" style="padding: 1rem">
                                <div class="row">
                                    {% if request.user.rol_actual == 'Coordinador de facultad' %}
                                        <div class="col-md-12 p-0 d-flex justify-content-center">
                                            <a class="btn p-0 " href="#informacionIndicador"
                                               data-toggle="modal"
                                               onclick='mostrarIndicador("{{ indicador.pk }}")'>{{ indicador.codigo }}</a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-8 p-0 d-flex justify-content-center">
                                            <a class="btn p-0 " href="#informacionIndicador"
                                               data-toggle="modal"
                                               onclick='mostrarIndicador("{{ indicador.pk }}")'>{{ indicador.codigo }}</a>
                                        </div>
                                        <div class="col-md-4 p-0 d-flex justify-content-center"
                                             style="border-left: 1px solid">
                                            <a class="btn p-0" onclick='quitarIndicador("{{ indicador.pk }}")'>
                                                <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row d-flex justify-content-end pt-5">
            {% if insert %}
                <input type="hidden" name="operacion" value="insertar">
                <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
                <input type="hidden" name="planMedicion" value="{{ planMedicion.pk }}">
                <input type="hidden" name="semestre" value="{{ semestre.pk }}">
                <input class="btn btn-primary mr-3 mb-1" type="submit" value="Agregar" name="Agregar">
                <button class="btn btn-outline-primary mr-3 mb-1" type="submit" form="cancelar">Cancelar</button>
            {% else %}
                {% if request.user.rol_actual != 'Coordinador de facultad' %}
                    <form action="{% url 'listarPlanMedicion' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operacion" value="entrada">
                        <input type="hidden" name="planCurso" value="{{ plan.pk }}">
                        <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
                        <input type="hidden" name="planMedicion" value="{{ planMedicion.pk }}">
                        <input type="hidden" name="semestre" value="{{ semestre.pk }}">
                        <input type="hidden" name="estado" value="1">
                        <input class="btn btn-primary mr-3 mb-1" type="submit" value="Confirmar">
                    </form>
                    <form action="{% url 'listarPlanMedicion' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operacion" value="eliminar">
                        <input type="hidden" name="planCurso" value="{{ plan.pk }}">
                        <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
                        <input type="hidden" name="planMedicion" value="{{ planMedicion.pk }}">
                        <input type="hidden" name="semestre" value="{{ semestre.pk }}">
                        <input type="hidden" name="estado" value="1">
                        <input class="btn btn-outline-primary mr-3 mb-1" type="submit" value="Eliminar" name="Eliminar">
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% if errorInsert %}
            <div class="alert alert-danger" role="alert">En este plan de medicion ya se esta evaluando este curso</div>
        {% endif %}
    </div>
</div>
{% if insert %}
    </form>
{% endif %}

    <!--Barras laterales-->

    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="informacionHorario" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":false,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar modal-side">

                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <h5 id="textoModal" class="text-white">Crear Horario</h5>
                        <hr class="mb-4" style="background-color: #f9fafd; width: 70%">
                    </div>

                    <div class="row d-flex justify-content-start">
                        <div class="col-12 pl-5">
                            <label class="text-white" for="name">Código:</label>
                            {% if request.user.rol_actual != 'Coordinador de facultad' %}
                                <input id="codigoSelec" name="name" class="form-control p-3" id="name" type="text"
                                       placeholder="Ingrese el código del horario" required/>
                            {% else %}
                                <input id="codigoSelec" name="name" class="form-control p-3" id="name" type="text"
                                       placeholder="Ingrese el código del horario" required disabled/>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-start">
                        <div class="col-12 pl-5">
                            <label class="text-white" for="responsable">Seleccione responsable:</label>
                            <select id="responsableSelec" name="responsable"
                                    class="form-control selectpicker text-black" id="responsable">
                                {% for responsable in ListaUsuarios %}
                                    <option value={{ responsable.pk }} selected>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    {% if request.user.rol_actual != 'Coordinador de facultad' %}
                        <div class="d-flex justify-content-center">
                            <div class="col-6">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal" aria-label="Close">Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-center mt-3">
                                    <button id="botonModal"
                                            type="button" class="btn btn-primary">Agregar
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="informacionIndicador" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":false,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar"
                 style="background-color: #017ECD;">

                <div class="modal-body text-white">
                    <div class="row d-flex justify-content-center">
                        <h5>Información Indicador</h5>
                        <hr style="background-color: #f9fafd; width: 70%">
                    </div>

                    <div class="row d-flex justify-content-start">
                        <div id="indCodField" class="col-12 pl-5">
                            <h5 id="indCod">Codigo: ID01</h5>
                        </div>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-start">
                        <div class="col-12 pl-5">
                            <h5>Descripción:</h5>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start">
                        <div id="indDescripField" class="col-12 pl-5">
                            <p id="indDescrip">Aplica conceptos lógicos para la resolución de problemas</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start">
                        <div class="col-12 pl-5">
                            <h5>Curso Asociado:</h5>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-start">
                        <div class="col-12 pl-5">
                            <p>{{ plan.curso.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p type="text" name="textId" id="textId" value=""/></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/select2/select2.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            console.log("ready!");
        });

        function limpiarModal() {
            $('#textoModal').text("Crear Horario");
            $('#botonModal').text("Agregar");
            $('#botonModal').attr('onclick', 'agregarHorario()');
            $('#codigoSelec').val('');
            $("#responsableSelec").val($("#responsableSelec option:first").val());
        }

        function editarHorario(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "editarHorario",
                    planPK: '{{ plan.pk }}',
                    horarioPk: pk,
                    codigo: $("#codigoSelec").val(),
                    responsablePk: $("#responsableSelec").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    $("#textoHorarioCard" + instance[0]['pk']).text(instance[0]["fields"].codigo);

                    $('#informacionHorario').modal('hide');

                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function mostrarHorario(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "mostrarHorario",
                    horarioPk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance);
                    data = instance[0]["fields"].codigo;
                    console.log(data);
                    $('#codigoSelec').val(data);
                    $('#responsableSelec').val(instance[0]["fields"].responsable);
                    {% if request.user.rol_actual != 'Coordinador de facultad' %}
                        $('#textoModal').text("Editar Horario");
                    {% else %}
                        $('#textoModal').text("Información de Horario");
                    {% endif %}
                    $('#botonModal').text("Editar");
                    $('#botonModal').click(editarHorario(pk));
                    $('#botonModal').attr('onclick', 'editarHorario("' + pk + '")');
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function agregarHorario() {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "agregarHorario",
                    planPK: '{{ plan.pk }}',
                    codigo: $("#codigoSelec").val(),
                    responsablePk: $("#responsableSelec").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    data = '<div id="horario' + instance[0]["pk"] + '" class="col-md-3">' +
                        '   <div class="card m-1">' +
                        '       <div class="card-body" style="padding: 1rem">' +
                        '           <div class="row">' +
                        '               <div class="col-md-8 p-0 d-flex justify-content-center">' +
                        '                   <a id="textoHorarioCard' + instance[0]["pk"] + '" class="btn p-0 " href="#informacionHorario" data-toggle="modal" onclick="' + 'mostrarHorario(' + instance[0]["pk"] + ' ) ">' + instance[0]["fields"].codigo + '</a>' +
                        '               </div>' +
                        '               <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">' +
                        '                   <a class="btn p-0" onclick="quitarHorario(' + instance[0]["pk"] + ')">' +
                        '                       <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>' +
                        '                   </a>' +
                        '               </div>' +
                        '           </div>' +
                        '       </div>' +
                        '   </div>' +
                        '</div>';
                    $("#horariosSelec").append(data);
                    $('#informacionHorario').modal('hide');
                    $('#codigoSelec').val('');
                    $("#responsableSelec").val($("#responsableSelec option:first").val());
                },
                error: function (response) {
                    $(".modal-body #textId").text(response["responseJSON"]["message"]);
                    $('#exampleModal').modal('show');

                }
            });
        }

        function quitarHorario(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "quitarHorario",
                    planPK: '{{ plan.pk }}',
                    horarioPk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    $("#horario" + instance[0]['pk']).remove()
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function mostrarIndicador(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "mostrarIndicador",
                    indicadorPk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    $("#indCod").remove();
                    $("#indDescrip").remove();
                    data = '<h5 id="indCod" class="text-white">Codigo: ' + instance[0]["fields"].codigo + '</h5>';
                    $("#indCodField").append(data);
                    data = '<p id="indDescrip">' + instance[0]["fields"].descripcion + '</p>';
                    $("#indDescripField").append(data);
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function agregarIndicador() {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "agregarIndicador",
                    planPK: '{{ plan.pk }}',
                    indicadorPk: $("#indicador").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    data = '<div id="indicador' + instance[0]["pk"] + '" class="col-md-3">' +
                        '   <div class="card m-1">' +
                        '       <div class="card-body" style="padding: 1rem">' +
                        '           <div class="row">' +
                        '               <div class="col-md-8 p-0 d-flex justify-content-center">' +
                        '                   <a class="btn p-0 " href="#informacionIndicador" data-toggle="modal" onclick="' + 'mostrarIndicador(' + instance[0]["pk"] + ' ) ">' + instance[0]["fields"].codigo + '</a>' +
                        '               </div>' +
                        '               <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">' +
                        '                   <a class="btn p-0" onclick="quitarIndicador(' + instance[0]["pk"] + ')">' +
                        '                       <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>' +
                        '                   </a>' +
                        '               </div>' +
                        '           </div>' +
                        '       </div>' +
                        '   </div>' +
                        '</div>';
                    $("#indicadoresSelec").append(data);
                },
                error: function (response) {
                    $(".modal-body #textId").text(response["responseJSON"]["message"]);
                    $('#exampleModal').modal('show');
                }
            });
        }

        function quitarIndicador(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearPlanMedicionAjax' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: "quitarIndicador",
                    planPK: '{{ plan.pk }}',
                    indicadorPk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    $("#indicador" + instance[0]['pk']).remove()
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}