{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        button {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card p-5">
        <div class="row-12">
            <div class="col-12">
                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        <h4> {{ especialidad.nombre }}</h4>
                    </div>
                    <div class="col-2 ">
                        <a class="d-flex flex-row justify-content-end mt-2" href="{% url 'historico' %}">
                            <div class="fas fa-reply mt-1 mr-2"></div>
                            <h5>Volver</h5>
                        </a>
                    </div>
                </div>
                <hr style="background-color: #0154ae;">
                <div class="row p-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="codigo">Código:</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            {% if user.rol_actual == 'Docente' %}
                                <input name="codigo" class="form-control" id="codigo" type="text"
                                       value="{{ historico.codigo }}" disabled>
                            {% else %}
                                <input name="codigo" class="form-control" id="codigo" type="text"
                                       value="{{ historico.codigo }}">
                            {%  endif %}
                        </div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="descripcion">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            {% if user.rol_actual == 'Docente' %}
                            <input name="nombre" class="form-control" id="nombre" type="text"
                                   value="{{ historico.nombre }}" disabled>
                            {% else %}
                                <input name="nombre" class="form-control" id="nombre" type="text"
                                   value="{{ historico.nombre }}">
                            {%  endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-end mt-3 mb-4">
                <div id="alertaContenedor" class="mx-auto">
                    <div id="alerta" class="alert alert-success  m-1" role="alert">
                        Informacion actualizada correctamente
                    </div>
                </div>
                {% if user.rol_actual != 'Docente' %}
                <a class="btn btn-outline-primary m-1" type="button"
                   href="{% url 'historico' %}">Cancelar</a>
                <button class="btn btn-primary m-1" onclick="editarNombre()">Guardar
                </button>
                {% endif %}
            </div>


        </div>

        {% if not hay_semestres %}
            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
                 aria-labelledby="errorModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title" id="errorModalLabel">¡Aviso!</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar"><span
                                    class="font-weight-light" aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body bg-soft-info">
                            <p>Aun no se ha registrado semestres. Comunicarse con el Coodinador de Facultad para su
                                creación </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row-12">
            <div class="col-md-12">
                <h4>Semestres del Resultado del Estudiante</h4>
            </div>
            <hr style="background-color: #0154ae;">

            {% if user.rol_actual != 'Docente' %}
            <div class="d-flex flex-row align-items-center">
                <div class="mr-1">
                    <select class="custom-select custom-select-sm mb-3" id="cboSemestre" name="cboSemestre">
                        {% for semestre in listaSemestre %}
                            <option value={{ semestre.pk }}>{{ semestre.nombreCodigo }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="agregarSemestre()">Agregar
                        Semestre
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col">

        </div>

        <div id="semestresSeleccionados" class="row d-flex mt-3">
            {% for semestreSelec in semestresSeleccionados %}
                <div id="semestre{{ semestreSelec.pk }}" class="col-md-3">
                    <div class="card m-1">
                        <div class="card-body" style="padding: 1rem">
                            <div class="row">
                                {% if user.rol_actual != 'Docente' %}
                                <div class="col-md-8 p-0 d-flex justify-content-center">
                                    <form action="{% url 'listarPlanMedicion' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="operacion" value="entrada">
                                        <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
                                        <input type="hidden" name="semestre" value="{{ semestreSelec.pk }}">
                                        <input type="hidden" name="planMedicion" value="{{ historico.pk }}">
                                        <input type="hidden" name="estado" value="1">

                                        <button type="submit">
                                            <h6>{{ semestreSelec.nombreCodigo }}</h6>
                                        </button>

                                    </form>
                                </div>
                                <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">
                                    <a class="btn p-0" onclick="quitarSemestre({{ semestreSelec.pk }})">
                                        <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>
                                    </a>
                                </div>
                                {% else %}
                                    <div class="col-md-12 p-0 d-flex justify-content-center">
                                        <form action="{% url 'listarPlanMedicion' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="operacion" value="entrada">
                                            <input type="hidden" name="especialidad" value="{{ especialidad.pk }}">
                                            <input type="hidden" name="semestre" value="{{ semestreSelec.pk }}">
                                            <input type="hidden" name="planMedicion" value="{{ historico.pk }}">
                                            <input type="hidden" name="estado" value="1">

                                            <button type="submit">
                                                <h6>{{ semestreSelec.nombreCodigo }}</h6>
                                            </button>

                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}

{% block extrajs %}
    <script>

        $(document).ready(function () {
            $("#alerta").slideUp(0)
        });

        function agregarSemestre() {
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarSemestrePlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    historicoPK: '{{ historico.pk }}',
                    semestrePk: $("#cboSemestre").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["semestreAgregado"]);
                    console.log(instance[0])
                    data = '<div id="semestre' + instance[0]["pk"] + '" class="col-md-3">' +
                        '   <div class="card  m-1">' +
                        '       <div class="card-body" style="padding: 1rem">' +
                        '           <div class="row">' +
                        '               <div class="col-md-8 p-0 d-flex justify-content-center">' +
                        '                   <form action="/gestionarPlanMedicion/listar/" method="post">' +
                        '                       {% csrf_token %}' +
                        '                       <input type="hidden" name="operacion" value ="entrada">' +
                        '                       <input type="hidden" name="especialidad" value ="{{ especialidad.pk }}">' +
                        '                       <input type="hidden" name="semestre" value ="' + instance[0]["pk"] + '">' +
                        '                       <input type="hidden" name="planMedicion" value ="{{ historico.pk }}">' +
                        '                       <input type="hidden" name="estado" value="1">' +
                        '                       <button type="submit">' +
                        '                           <h6>' + instance[0]["fields"].nombreCodigo + '</h6>' +
                        '                       </button>' +
                        '                   </form>' +
                        '               </div>' +
                        '               <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">' +
                        '                   <a class="btn p-0" onclick="quitarSemestre(' + instance[0]["pk"] + ')">' +
                        '                       <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>' +
                        '                   </a>' +
                        '               </div>' +
                        '           </div>' +
                        '       </div>' +
                        '   </div>' +
                        '</div>';
                    $("#semestresSeleccionados").append(data);
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function editarNombre() {
            $.ajax({
                type: 'POST',
                url: "{% url 'editarNombre' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    historicoPK: '{{ historico.pk }}',
                    nombre: $("#nombre").val(),
                    codigo: $("#codigo").val(),

                },
                success: function (response) {
                    console.log("Se edito correctamente");
                    $("#alerta").fadeIn(200).delay(900).slideUp(200);
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function quitarSemestre(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarSemestrePlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    historicoPK: '{{ historico.pk }}',
                    semestrePk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    $("#semestre" + instance[0]['pk']).remove()
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>

    {% if not hay_semestres %}
        <script>
            $(document).ready(function () {
                $("#errorModal").modal({backdrop: 'static', keyboard: false, show: true});
                console.log()
            });
        </script>
    {% endif %}
{% endblock %}