{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card p-5">
        <div class="row-12">
            <div class="col-12">
                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        <h4> {{ especialidad.nombre }}</h4>
                    </div>
                    <div class="col-2 ">
                        <a class="d-flex flex-row justify-content-end mt-2" href="{% url 'historico' %}">
                            <div class="fas fa-reply mt-1 mr-2"></div>
                            <h5>Volver</h5>
                        </a>
                    </div>
                </div>
                <hr style="background-color: #0154ae;">
                <div class="row p-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="codigo">Código:</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input name="codigo" class="form-control" id="codigo" type="text"
                                   value="{{ historico.codigo }}">
                        </div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="descripcion">Nombre:</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input name="nombre" class="form-control" id="nombre" type="text"
                                   value="{{ historico.nombre }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-end mt-3">
                <a class="btn btn-outline-primary m-1" type="button"
                   href="{% url 'historico' %}">Cancelar</a>
                <input type="submit" class="btn btn-primary m-1" value="Guardar">
            </div>
        </div>

        <div class="row-12">
            <div class="col-md-12">
                <h4>Semestres del Resultado del Estudiante</h4>
            </div>
            <hr style="background-color: #0154ae;">

            <div class="d-flex flex-row align-items-center">
                <div class="mr-1">
                    <select class="custom-select custom-select-sm mb-3" id="cboSemestre" name="cboSemestre">
                        {% for semestre in listaSemestre %}
                            <option value={{ semestre.pk }}>{{ semestre.nombreCodigo }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="agregarSemestre()">Agregar Semestre
                    </button>
                </div>
            </div>
        </div>
        <div class="col">

        </div>

        <div id="semestresSeleccionados" class="row d-flex mt-3">
            {% for semestreSelec in semestresSeleccionados %}
                <div id="semestre{{ semestreSelec.pk }}" class="col-md-3">
                           <div class="card m-1">
                               <div class="card-body" style="padding: 1rem">
                                   <div class="row">
                                       <div class="col-md-8 p-0 d-flex justify-content-center">
                                       <h6 >
                                            {{ semestreSelec.nombreCodigo }}
                                       </h6>
                                       </div>
                                       <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">
                                           <a class="btn p-0" onclick="quitarSemestre({{ semestreSelec.pk }})">
                                               <span class="fas fa-minus mr-1"  data-fa-transform="shrink-3"></span>
                                           </a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}

{% block extrajs %}
    <script>

        function agregarSemestre() {
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarSemestrePlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    historicoPK: '{{ historico.pk }}',
                    semestrePk: $("#cboSemestre").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["semestreAgregado"]);
                    console.log(instance[0])
                    data = '<div id="semestre' + instance[0]["pk"] + '" class="col-md-3">' +
                        '   <div class="card  m-1">' +
                        '       <div class="card-body" style="padding: 1rem">' +
                        '           <div class="row">' +
                        '               <div class="col-md-8 p-0 d-flex justify-content-center">' +
                        '               <h4 >' +
                        instance[0]["fields"].nombreCodigo +
                        '               </h4>     ' +
                        '               </div>' +
                        '               <div class="col-md-4 p-0 d-flex justify-content-center" style="border-left: 1px solid">' +
                        '                   <a class="btn p-0" onclick="quitarSemestre(' + instance[0]["pk"] + ')">' +
                        '                       <span class="fas fa-minus mr-1" data-fa-transform="shrink-3"></span>' +
                        '                   </a>' +
                        '               </div>' +
                        '           </div>' +
                        '       </div>' +
                        '   </div>' +
                        '</div>';
                    $("#semestresSeleccionados").append(data);
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function quitarSemestre(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarSemestrePlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    historicoPK: '{{ historico.pk }}',
                    semestrePk: pk,
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    console.log(instance[0])
                    $("#semestre" + instance[0]['pk']).remove()
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}