{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        hr {
            height: .5px;
            background-color: #2F5496;
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-md-12">
                    <h3 class="mb-0"> {{ facultad }} - Cursos a ser evaluados </h3>
                    <hr>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name="estado" class="form-control" id="exampleFormControlSelect1">
                            {% for estado in estados %}
                                <option value={{ responsable.pk }}>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}