.bg-card-gradient {
    background-image: linear-gradient(-45deg, #73dc96, #3aa59b);
}

.bg-card-solid {
    background-image: linear-gradient(-45deg, #3AE8C6, #3AE8C6);
}

.btn-primary {
    background-color: #3aa59b;
    border-color: #3aa59b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:disabled, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #73dc96;
    border-color: #73dc96;
}
.btn-outline-primary {
    color: #3aa59b;
    border-color: #3aa59b;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:disabled, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #3aa59b;
    border-color: #3aa59b;
}

p, h1, h2, h3, h4, h5, h6, legend, .select2, .select2-results {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p{
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

label.error {
    font-style: italic;
    color: #e63757;
}

abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
}

.select2, .select2-results {
    width: 100% !important;
}

.select2, .select2-results {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100% !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Buscar";
}