{% load static %}
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/@fortawesome/all.min.js' %}"></script>
<script src="{% static 'lib/stickyfilljs/stickyfill.min.js' %}"></script>
<script src="{% static 'lib/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'lib/is_js/is.min.js' %}"></script>
<script src="{% static 'lib/lodash/lodash.min.js' %}"></script>
<script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
<script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
