{% extends "aaron/base.html" %}

{% block extrastyle %}

{% endblock %}
{% block body %}

    <h2 class="d-flex justify-content-center"> Editar de Waffle </h2>


    <div class="row d-flex justify-content-center m-2">

        <div class="card">
            <div class="card-img-top">
                <img class="img-fluid"
                     src="https://universo-nintendo.com.mx/my_uploads/2020/09/Universo-Nintendo-Kanojo-Okarishimasu-Chizuru-Mizuhara-Sonrisa.jpg"
                     alt="Card image cap">
            </div>
            <div class="card-body">
                <form action="{% url 'editarWaffles' pk=waffle.pk %}"  method="post">
                    {% csrf_token %}
                    <input name="name" class="form-control" id="name" type="text" value="{{ waffle.name }}"
                           placeholder="Coloca el nombre...">


                    <input name="precio" class="form-control" id="precio" type="number" value="{{ waffle.precio }}"
                           placeholder="Coloca el nuevo precio...">

                    <input type="submit" value="Guardar" class="btn btn-primary">
                </form>


                <a class="btn btn-outline-primary btn-sm" href="{% url 'listaWaffles' %}">Volver a la lista</a>
            </div>
        </div>
    </div>

    </div>

    </div>

{% endblock %}

{% block extrajs %}
    <script>

    </script>
{% endblock %}
