{% extends "aaron/base.html" %}

{% block extrastyle %}
    <style>
    </style>

{% endblock %}
{% block body %}

    <div>
        <h1>Bienvenido </h1>

        <div class="row d-flex justify-content-center p-3">
            <div class="col-xl-4  col-md-5 col-10 ">
                <div class="card  d-flex justify-content-center mb-3">
                    <div class="card-body ">
                        <form action="{% url 'aaronHome' %}" method="post">
                            {% csrf_token %}
                            <input type="text" value="1" hidden name="tipoform">
                            <div class="form-group">
                                <p>Coloca el sabor del waflle nuevo </p>

                                <input name="name" class="form-control" id="name" type="text"
                                       placeholder="Coloca el nombre...">
                            </div>


                            <p>Coloque el precio del wafle</p>

                            <input name="precio" class="form-control" id="precio" type="number"
                                   placeholder="Coloca el precio...">
                            <br>

                            <div class="row d-flex justify-content-center">
                                <input type="submit" value="Ingresar" class="btn btn-primary">
                            </div>
                            <div class="row d-flex justify-content-center">

                                <a class="btn btn-outline-primary m-2" href="{% url 'listaWaffles' %}">Ver los sabores
                                    de
                                    Waffles</a>
                            </div>


                        </form>
                    </div>
                </div>

            </div>

        </div>


    </div>

{% endblock %}

{% block extrajs %}
    <script>

    </script>
{% endblock %}
