{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #Titulo {
            color: #0154ae
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}

    {# Rubrica #}

    <div class="row d-flex justify-content-center ">
        <div class="col-10">
            <h4 id="Titulo" style="font-family: Montserrat">Rúbrica para evaluación</h4>
        </div>
        <div class="col-2">
        </div>
    </div>
    <hr class="mb-3" style="background-color: #0154ae;">


    <div class="row d-flex mb-3">
        <div class="col-3">
            <label for="cboIndicador">Indicador:</label>
            <select class="custom-select custom-select-sm mb-3" id="cboIndicador" name="cboIndicador"
                    onchange="muestraRubrica()">
                {% for indicador in listaIndicador %}
                    <option value={{ indicador.pk }}>{{ indicador.codigo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-3">
            <label for="cboHorario">Horario:</label>
            <select class="custom-select custom-select-sm mb-3" id="cboHorario" name="cboHorario">
                <option selected="">H101</option>
                <option value="1">H102</option>
                <option value="2">H103</option>
                <option value="3">H104</option>
            </select>
        </div>

        <div class="col-1"></div>
        <div class="col-2">
            <button class="btn btn-outline-primary"
            "><i class="fa fa-download"></i> Rubrica
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-primary"><i class="fa fa-download"></i> Evidencias</button>
        </div>

    </div>
    <div class="card col-12 p-0 mb-4">
        <div class="card-body p-0">
            <table class="table table-bordered" id="tablaNivel" name="tablaNivel">
                <!------------------------------------------------------------------------->
            </table>

        </div>
    </div>

    {# Alumno Lista #}
    <div class="row align-items-center mb-3 justify-content-between">
        <div class="col-8 col-sm-auto ml-auto text-right pl-0">
            <div id="dashboard-actions">
                <!-- Button trigger modal-->
                <a href="" data-toggle="modal" data-target="#agregarAlumno"
                   class="btn btn-primary btn-sm" type="button">
                    <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2"
                         aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""
                         style="transform-origin: 0.4375em 0.625em;">
                        <g transform="translate(224 256)">
                            <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                      transform="translate(-224 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="d-none d-sm-inline-block ml-1">Agregar Estudiante</span>
                </a>
                <a href="    " class="btn btn-secondary btn-sm" type="button">
                    <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2"
                         aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""
                         style="transform-origin: 0.4375em 0.625em;">
                        <g transform="translate(224 256)">
                            <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                      transform="translate(-224 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="d-none d-sm-inline-block ml-1">Importar Estudiante</span>
                </a>
            </div>
        </div>
    </div>


    <div class="card mb-3">

        <div class="card-body p-0">
            <div class="dashboard-data-table" style="text-align: center">
                <table class="table table-sm table-dashboard m-0 fs--1 table-hover data-table dataTable no-footer"
                       data-options="{&quot;responsive&quot;:false,&quot;pagingType&quot;:&quot;simple&quot;,&quot;lengthChange&quot;:false,&quot;searching&quot;:false,&quot;pageLength&quot;:8,&quot;columnDefs&quot;:[{&quot;targets&quot;:[0,6],&quot;orderable&quot;:false}],&quot;language&quot;:{&quot;info&quot;:&quot;_START_ to _END_ Items of _TOTAL_ — <a href=\&quot;#!\&quot; class=\&quot;font-weight-semi-bold\&quot;> view all <span class=\&quot;fas fa-angle-right\&quot; data-fa-transform=\&quot;down-1\&quot;></span> </a>&quot;},&quot;buttons&quot;:[&quot;copy&quot;,&quot;excel&quot;]}"
                       id="DataTables_Table_0">
                    <!-------REVISAR LO QUE ESTA EN DATA OPTIONS --->
                    <thead class="bg-200 text-900">
                    <tr>
                        <th class=" pr-1 align-middle">Codigo</th>
                        <th class=" pr-1 align-middle">Estudiante</th>
                        <th class=" pr-1 align-middle">Puntuacion</th>
                        <th class=" pr-1 align-middle  ">Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="tablaAlumno">

                    {% for alumno in listaAlumno %}
                        <tr class="btn-reveal-trigger">
                            <th class="align-middle">{{ alumno.codigoAlumno }}</th>
                            <th class="align-middle"> {{ alumno.nombreAlumno }} </th>
                            <th class="align-middle">
                                <form>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio4" value="option4">
                                        <label class="form-check-label" for="inlineRadio4">4</label>
                                    </div>


                                </form>
                            </th>
                            <th>
                                <div class="row">
                                    <div class="col">
                                        <a href="" class="badge badge rounded-capsule badge-soft-info">Editar</a>
                                    </div>
                                    <div class="col">
                                        <button type="submit"
                                                class="badge rounded-capsule badge-soft-danger outline-none">
                                            <span>Eliminar</span>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="submit"
                                                class="badge rounded-capsule badge-soft-danger outline-none">
                                            <span>Eliminar</span>
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal-->
    <div class="modal fade" id="agregarAlumno" tabindex="-1" role="dialog" aria-labelledby="agregarAlumnoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarAlumnoLabel">Ingresar alumno a evaluar</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarAlumno" name="formAgregarAlumno">
                        <div class="form-group">
                            <label for="nombreAlumno">Nombre</label>
                            <input class="form-control" id="nombreAlumno" name="nombreAlumno" type="text"
                                   placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="codigoAlumno">Código</label>
                            <input class="form-control" id="codigoAlumno" name="codigoAlumno" type="text" maxlength="8"
                                   placeholder="Código">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                    <button id="btnAgregarAlumno" class="btn btn-primary btn-sm" type="button"
                            onclick="validarAlumno()">Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}

    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>

    <script>
        function validarAlumno() {
            $("form[name='formAgregarAlumno']").validate({
                rules: {
                    nombreAlumno: {
                        required: true,
                    },
                    codigoAlumno: {
                        required: true,
                    },
                },
                messages: {
                    nombreAlumno: {
                        required: "Por favor ingrese el nombre"
                    },
                    codigoAlumno: {
                        required: "Por favor ingrese el codigo"
                    }
                }
            });

        };
        $("#btnAgregarAlumno").on('click', function () {
            if ($("#formAgregarAlumno").valid()) {
                agregarAlumno();
            }
        });

    </script>
    <script>
        function agregarAlumno() {
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarAlumno'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    nombreAlumno: $("#nombreAlumno").val(),
                    codigoAlumno: $("#codigoAlumno").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["nuevoAlumno"]);
                    var fields = instance[0]["fields"];

                    data = '<tr class="btn-reveal-trigger">' +
                        '<th class="align-middle">' + fields.codigoAlumno + '</th>' +
                        '<th class="align-middle">' + fields.nombreAlumno + '</th>' +
                        '                             <th class="align-middle">' +
                        ' <div class="form-check form-check-inline">' +
                        ' <input class="form-check-input" type="radio" name="inlineRadioOptions"' +
                        '   id="inlineRadio1" value="option1">' +
                        '   <label class="form-check-label" for="inlineRadio1">1</label>' +
                        ' </div>' +
                        '  <div class="form-check form-check-inline">' +
                        '  <input class="form-check-input" type="radio" name="inlineRadioOptions"' +
                        '       id="inlineRadio2" value="option2">' +
                        '   <label class="form-check-label" for="inlineRadio2">2</label>' +
                        '   </div>' +
                        '    <div class="form-check form-check-inline">' +
                        '       <input class="form-check-input" type="radio" name="inlineRadioOptions"' +
                        '             id="inlineRadio3" value="option3">' +
                        '     <label class="form-check-label" for="inlineRadio3">3</label>' +
                        '   </div>' +
                        '   <div class="form-check form-check-inline">' +
                        '       <input class="form-check-input" type="radio" name="inlineRadioOptions"' +
                        '              id="inlineRadio4" value="option4">' +
                        '      <label class="form-check-label" for="inlineRadio4">4</label>' +
                        '   </div>' +
                        '  </th>  ' +
                        '</tr>'

                    $("#tablaAlumno").append(data);

                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

    <script>
        function muestraRubrica() {
            $.ajax({
                type: 'POST',
                url: "{% url 'muestraRubrica'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    indicadorSeleccionado: $("#cboIndicador").val()
                },
                success: function (response) {
                    var instance = JSON.parse(response["niveles"]);
                    var i;
                    var numero = instance.length;

                    cabecera = '<thead class="thead">' +
                        +'<tr>' +
                        '<th style="color: #f9fafd; background-color: #0154ae"></th>' +
                        '<th colspan="' + numero + '" style="color: #f9fafd; background-color: #0154ae">Niveles</th>' +
                        '</tr>' +
                        '<tr id="cabezaIndicadorNiveles">' +
                        '<th scope="col" style="color: #f9fafd; background-color: #0154ae">Indicador de Desempeño</th>'

                    cuerpo = '</tr>' +
                        '</thead>' +
                        '<tbody>' +
                        '<tr id="cuerpoIndicadorNiveles">' +
                        '<td>2.1 Diseña una solucion informatica bvuscando satisfacer necesidades.</td>'

                    for (i = 0; i < numero; i++) {
                        cabecera += ('<th scope="col" style="color: #0c0c0c; background-color: #D3D3D3">' + instance[i]["fields"].name + '</th>');
                        cuerpo += '<td>' + instance[i]["fields"].value + '</td>';
                    }

                    cuerpo += ('</tr>' + '</tbody>');
                    cabecera += cuerpo;
                    $("#tablaNivel").html(cabecera);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

{% endblock %}