{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #Titulo {
            color: #0154ae
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    {# Rubrica #}
    <div class="row d-flex justify-content-center ">
        <div class="col-10">
            <h4 id="Titulo" style="font-family: Montserrat">Evaluación</h4>
        </div>
        <div class="col-2">
        </div>
    </div>
    <hr class="mb-3" style="background-color: #0154ae;">
    <div class="row d-flex mb-3">
        <div class="col-3">
            <label for="cboHorario">Horario:</label>
            <select class="custom-select custom-select-sm mb-3" id="cboHorario" name="cboHorario"
                    onchange="listarAlumno()">
                <option selected="" value="H101">H101</option>
                <option value="H102">H102</option>
                <option value="H103">H103</option>
                <option value="H104">H104</option>
            </select>
        </div>
        <div class="col-3">
            <label for="cboIndicador">Indicador:</label>
            <select class="custom-select custom-select-sm mb-3" id="cboIndicador" name="cboIndicador"
                    onchange="muestraRubrica()">
                {% for indicador in listaIndicador %}
                    <option value={{ indicador.pk }}>{{ indicador.codigo }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-1"></div>
        <div class="col-2">
            <button class="btn btn-outline-primary"
            ><i class="fa fa-download"></i> Rubrica
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-primary"><i class="fa fa-download"></i> Evidencias</button>
        </div>

    </div>

    <div class="col-12">
        <div id="contenidoRubrica"></div>
    </div>

    {# Botones Agregar e Importar Estudiantes #}
    <div class="row align-items-center mb-3 justify-content-between">
        <div id="estado"></div>
        <div class="col-8 col-sm-auto ml-auto text-right pl-0">

            <div id="dashboard-actions">

                <input class="form-control mr-sm-2 mb-2" id="textBuscar" type="search" placeholder="Buscar"
                       aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" onclick="listarAlumno()">Buscar</button>


                <!-- Button trigger modal-->
                <a href="" data-toggle="modal" data-target="#agregarAlumno"
                   class="btn btn-falcon-default btn-sm" type="button">
                    <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2"
                         aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""
                         style="transform-origin: 0.4375em 0.625em;">
                        <g transform="translate(224 256)">
                            <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                      transform="translate(-224 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="d-none d-sm-inline-block ml-1">Agregar Estudiante</span>
                </a>
                <a href="" class="btn btn-falcon-default btn-sm" type="button" hidden>
                    <svg class="svg-inline--fa fa-plus fa-w-14" data-fa-transform="shrink-3 down-2"
                         aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""
                         style="transform-origin: 0.4375em 0.625em;">
                        <g transform="translate(224 256)">
                            <g transform="translate(0, 64)  scale(0.8125, 0.8125)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                                      transform="translate(-224 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="d-none d-sm-inline-block ml-1">Importar Estudiante</span>
                </a>
            </div>
        </div>
    </div>


    {# Listado De Alumnos #}
    <div class="card mb-3">
        <div class="card-body p-0">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Puntuacion</th>
                    <th class="white-space-nowrap">Acciones</th>
                </tr>
                </thead>

                <tbody id="tablaAlumno">

                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal Agregar Alumno -->
    <div class="modal fade" id="agregarAlumno" tabindex="-1" role="dialog" aria-labelledby="agregarAlumnoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarAlumnoLabel">Ingresar alumno a evaluar</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarAlumno" name="formAgregarAlumno">
                        <div class="form-group">
                            <label for="codigoAlumno">Código</label>
                            <input class="form-control" id="codigoAlumno" name="codigoAlumno" type="text" maxlength="8"
                                   placeholder="Código">
                        </div>
                        <div class="form-group">
                            <label for="nombreAlumno">Nombre</label>
                            <input class="form-control" id="nombreAlumno" name="nombreAlumno" type="text"
                                   placeholder="Nombre">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                    <button id="btnAgregarAlumno" class="btn btn-primary btn-sm" type="button"
                            onclick="validarAlumno()">Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar Alumno -->
    <div class="modal fade" id="editarAlumno" tabindex="-1" role="dialog" aria-labelledby="editarAlumnoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarAlumnoLabel">Editar al alumno</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="formEditarAlumno" name="formEditarAlumno">
                        <div class="form-group">
                            <label for="nombreAlumno">Nombre</label>
                            <div id="editNombre"></div>
                        </div>
                        <div class="form-group">
                            <label for="codigoAlumno">Código</label>
                            <div id="editCodigo"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                    <button id="btnEditarAlumno" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Rubrica Alumno -->

    <div class="modal fade" id="rubricaAlumno" tabindex="-1" role="dialog" aria-labelledby="rubricaAlumnoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rubricaAlumnoLabel">Aviso</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="formEvidenciaAlumno" name="formEvidenciaAlumno">
                        <div class="form-group">
                            Estamos trabajando en esta funcionalidad
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnRubricaAlumno" class="btn btn-primary btn-sm" type="button" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Alumno -->

    <div class="modal fade" id="eliminarAlumno" tabindex="-1" role="dialog" aria-labelledby="eliminarAlumnoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarAlumnoLabel">Ingresar alumno a evaluar</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarAlumno" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            muestraRubrica();
            listarAlumno();
        });

        function subirEvidencia() {
            {% comment %} data = '<h5 class="modal-title" id="eliminarAlumnoLabel">Estamos trabajando en esta funcionalidad</h5>';
             $("#rubricaAlumnoLabel").html(data);{% endcomment %}
            $("#rubricaAlumno").modal('show');

            $("#btnRubricaAlumno").on('click', function () {
                $("#rubricaAlumno").modal('hide');
            });

        }

        function evaluarEditar(nombreAlumno, codigoAlumno, pk) {
            var nomb = nombreAlumno.toString();
            data = '';
            data += '<input class="form-control" id="nombreAlumnoMod" name="nombreAlumnoMod" type="text" value="' + nomb + '">';
            $("#editNombre").html(data);

            data = '<input class="form-control" id="codigoAlumnoMod" name="codigoAlumnoMod" type="text" value=' + codigoAlumno + '>';
            $("#editCodigo").html(data);
            $("#editarAlumno").modal('show');

            $("form[name='formEditarAlumno']").validate({
                rules: {
                    nombreAlumnoMod: {
                        required: true,
                    },
                    codigoAlumnoMod: {
                        required: true,
                    },
                },
                messages: {
                    nombreAlumnoMod: {
                        required: "Por favor ingrese el nombre"
                    },
                    codigoAlumnoMod: {
                        required: "Por favor ingrese el codigo"
                    }
                }
            });

            $("#btnEditarAlumno").on('click', function () {
                if ($("#formEditarAlumno").valid()) {
                    editarAlumno(pk);
                    $("#editarAlumno").modal('hide');
                }
            });

        };

        function editarAlumno(idAlumno) {
            $.ajax({
                type: 'POST',
                url: "{% url 'editarAlumno'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    idAlumno: idAlumno,
                    codigoAlumno: $("#codigoAlumnoMod").val(),
                    nombreAlumno: $("#nombreAlumnoMod").val()
                },
                success: function (response) {
                    console.log("Se ha editado correctamente!");
                    listarAlumno();
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function evaluarEliminar(codigoAlumno, pk) {
            data = '<h5 class="modal-title" id="eliminarAlumnoLabel">Se eliminara el alumno ' + codigoAlumno + '</h5>';
            $("#eliminarAlumnoLabel").html(data);
            $("#eliminarAlumno").modal('show');

            $("#btnEliminarAlumno").on('click', function () {
                eliminarAlumno(pk);
                $("#eliminarAlumno").modal('hide');
            });
        };

        function eliminarAlumno(idAlumno) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarAlumno'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    idAlumno: idAlumno,
                },
                success: function (response) {
                    console.log("Se ha eliminado correctamente!");
                    listarAlumno();
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function validarAlumno() {
            $("form[name='formAgregarAlumno']").validate({
                rules: {
                    nombreAlumno: {
                        required: true,
                    },
                    codigoAlumno: {
                        required: true,
                    },
                },
                messages: {
                    nombreAlumno: {
                        required: "Por favor ingrese el nombre"
                    },
                    codigoAlumno: {
                        required: "Por favor ingrese el codigo"
                    }
                }
            });

        };
        $("#btnAgregarAlumno").on('click', function () {
            if ($("#formAgregarAlumno").valid()) {
                agregarAlumno();
                $("#nombreAlumno").val('');
                $("#codigoAlumno").val('');
                {#$("#cboHorario").val('');#}
            }
        });


        function guardarPuntuacion(idAlumno, nivelS) {


            $.ajax({
                type: 'POST',
                url: "{% url 'guardarPuntuacion'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    idAlumno: idAlumno,
                    nivelSeleccionado: nivelS,
                    indicadorSeleccionado: $("#cboIndicador").val()
                },
                success: function (response) {
                    console.log("Se ha guardado correctamente!");
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function agregarAlumno() {
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarAlumno'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    nombreAlumno: $("#nombreAlumno").val(),
                    codigoAlumno: $("#codigoAlumno").val(),
                    horario: $("#cboHorario").val()
                },
                success: function (response) {
                    listarAlumno();
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function listarAlumno() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarAlumno'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    horarioSeleccionado: $("#cboHorario").val(),
                    filtrado: $("#textBuscar").val()
                },
                success: function (response) {
                    estado = ''
                    var instance = JSON.parse(response["listaAlumno"]);
                    var cont = 0;
                    var x = 0;
                    var i;
                    var j;
                    var numero = instance.length;
                    var instanceN = JSON.parse(response["niveles"]);
                    var numeroN = instanceN.length;
                    data = ''
                    for (x = 0; x < numero; x++) {
                        if (instance[x]["fields"].calificado == '1')
                            cont++;
                    }
                    cont = cont * 100 / numero;
                    cont = Math.round(cont);
                    if (numero > 0) {

                        for (i = 0; i < numero; i++) {
                            data += ('<tr class="btn-reveal-trigger">' +
                                '<th class="align-middle">' + instance[i]["fields"].codigoAlumno + '</th>' +
                                '<th class="align-middle">' + instance[i]["fields"].nombreAlumno + '</th>' +
                                '                             <th class="align-middle">' +
                                '<div class="form-check-inline" >');
                            for (j = 1; j <= numeroN; j++) {
                                data += ('<input class="form-check-input" type="radio"  id="' + instance[i]["pk"] + '' + instanceN[j - 1]["pk"] + '" "' +
                                    'value="' + j + '"name="' + instance[i]["pk"] + '" onclick="guardarPuntuacion(' + instance[i]["pk"] + ',' + instanceN[j - 1]["pk"] + ',)">' +
                                    '<label class="form-check-label" for="' + instance[i]["pk"] + '' + instanceN[j - 1]["pk"] + '">' + j + '</label>'
                                );

                            }
                            data += ('</div>' +
                                '</th>' +
                                '<th>' +
                                '<div class="row">' +
                                ' <div class="col">' +
                                '<button class="badge badge-pill badge-primary" onclick="subirEvidencia()">Subir Evidencia</button>' +
                                '</div>' +
                                '<div class="col">' +
                                '<button class="badge badge-pill badge-secondary" onclick="evaluarEditar(\'' + instance[i]["fields"].nombreAlumno + '\',' + instance[i]["fields"].codigoAlumno + ',' + instance[i]["pk"] + ')">Editar</button>' +
                                '</div>' +
                                '<div class="col">' +
                                '<button class="badge badge-pill badge-danger" onclick="evaluarEliminar(' + instance[i]["fields"].codigoAlumno + ',' + instance[i]["pk"] + ',)">Eliminar</button>' +
                                '</div>' +
                                ' </div>' +
                                '</th>' +
                                '</tr>');

                            estado = ('<div> Alumnos Evaluados: ' +
                                cont + '%' + '</div>'
                            );
                        }
                    } else {
                        data += '<th colspan="4">' +
                            '<p class="m-2 text-center"> No se encontraron alumnos asignados al horario</p>' +
                            '</th>';
                    }
                    $("#tablaAlumno").html(data);
                    $("#textBuscar").val('');
                    $("#estado").html(estado);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });

        }


        function muestraRubrica() {
            $.ajax({
                type: 'POST',
                url: "{% url 'muestraRubrica'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    indicadorSeleccionado: $("#cboIndicador").val()
                },
                success: function (response) {
                    var instanceRubricas = JSON.parse(response["rubrica"]);
                    var instanceIndicador = JSON.parse(response["indicador"]);
                    var instanceNivel = JSON.parse(response["niveles"]);
                    var i;
                    var numero = instanceRubricas.length;
                    var camposIndicador = instanceIndicador[0]["fields"];

                    dataIndicador = '<div class="row d-flex justify-content-start mb-4">' +
                        '<div class="col-12 mb-4">' +
                        '<div class="card text-white bg-primary">' +
                        '<div class="card-body">' +
                        '<div class="card-title">' + camposIndicador.codigo +
                        '</div>' +
                        '<p class="card-text">' + camposIndicador.descripcion +
                        '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    if (instanceRubricas.length > 0) {
                        dataNiveles = '<div class="col-12">' +
                            '<div class="card bg-light">' +
                            '<div class="card-body p-0">' +
                            '<div class="table-responsive">' +
                            '<table class="table">' +
                            '<thead class="thead-dark">' +
                            '<tr>';
                        dataDescripcion = '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr>';

                        for (i = 0; i < numero - 1; i++) {
                            dataNiveles += ('<th scope="col"">' + instanceNivel[i]["fields"].name + ' (' + instanceNivel[i]["fields"].value + ')</th>');
                            dataDescripcion += ('<td scope="row"> ' + instanceRubricas[i]["fields"].descripcion + '</td>');
                        }
                        dataNiveles += '<th  scope="col">' + instanceNivel[numero - 1]["fields"].name + ' (' + instanceNivel[i]["fields"].value + ')</th>';
                        dataDescripcion += '<td >' + instanceRubricas[numero - 1]["fields"].descripcion + '</td>';
                        dataDescripcion += ('</tr>' +
                            '</tbody>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>');
                        dataIndicador += dataNiveles;
                        dataIndicador += dataDescripcion;

                    } else {
                        dataNiveles = '<div class="col-12">' +
                            '<div class="card bg-light">' +
                            '<div class="card-body">' +
                            '<div class="card-title"> Aún no se han asignado niveles a este indicador' +
                            '</div>' +
                            '<p class="card-text"> Por favor agregar los correspondientes en la pestaña "Resultados"' +
                            '</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        dataIndicador += dataNiveles;
                    }

                    $("#contenidoRubrica").html(dataIndicador);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


    </script>
{% endblock %}