{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        .wrapper {
            text-align: center;
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <div class="container-fluid">
        <div class="card p-5">
            <form action="{% url 'agregarCurso' id_especialidad=id_especialidad %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="mb-0">Agregar Curso</h3>
                <hr>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <input name="estado" type="hidden" id="estado" value="{{ estado }}">
                            <label for="name">Nombre</label>
                            <input name="name" class="form-control p-3" id="name" type="text"
                                   placeholder="Ingrese el nombre del curso" required/>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleFormControlSelect1">Seleccione responsable(s)</label>
                        <select name="responsable" class="form-control" id="exampleFormControlSelect1">
                            {% for responsable in ListaUsuarios %}
                                <option value={{ responsable.pk }}>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="wrapper">
                    <a class="btn btn-outline-primary mr-3 mb-1" type="button"
                       href="{% url 'listarEspecialidadxCurso' id_especialidad=id_especialidad %}">Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary mr-3 mb-1" type="button">Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>

{% endblock %}