{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="container-fluid content-row">
        <div class="row">
            <div class="col-6">
                <select disabled="true" class="form-control" id="especFormControl">
                    {% for especialidad in ListaEspecialidad %}
                        {% if id_especialidad|add:"0" == especialidad.pk %}
                            <option value={{ especialidad.pk }} selected>{{ especialidad.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row">
            {% for curso in ListaCurso %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card-group">
                        <div class="product card mr-4 mb-4" style="height: 16rem">
                            <div class="card-img-top imgbox" style="height: 15rem">
                                <a class="imgbox" href="#">
                                    <img class="" src="{% static 'img/illustrations/3.png' %}">
                                </a>
                            </div>
                            <div class="specifies card-body p-1">
                                <h5 class="card-title ml-2">{{ curso.nombre }}</h5>
                                <hr class="divider">
                                <div class="row">
                                    <div class="col">
                                        <a class="float-right mr-2 pt-2 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Eliminar"
                                           href="{% url 'eliminarCurso' id_curso=curso.pk %}"
                                           role="link">
                                            <div class="fas fa-power-off iconColorNBorder"></div>
                                        </a>
                                        <a class="float-right mr-3 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Editar"
                                           href="{% url 'editarCurso'  id_curso=curso.pk %}"
                                           role="link">
                                            <div class="fas fa-pen iconColorNBorder"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card-group">
                    <a class="recent-work card mr-4 mb-4"
                       href="{% url 'agregarCurso' id_especialidad=id_especialidad %}" style="height: 16rem">
                        <div class="nav-link icon-indicator" role="button" style="height: 200px; width: 100%;">
                            <div class="mt-4" style="text-align: center;">
                                <span class="fas fa-plus fa-9x" style="text-align: center"></span>
                            </div>
                        </div>
                        <div class="recent-work-vertical-ruk card-img-overlay d-flex align-items-end">
                            <div class="service-work-content text-left text-light">
                                <h5 class="card-title mt-6" style="text-align: center">Agregar Curso</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
    </script>
{% endblock %}