{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="container-fluid content-row">
        <div class="row" style="margin-right: 0.8rem">
            <div class="col-6">
                <select disabled="true" class="form-control" id="especFormControl">
                    {% for especialidad in ListaEspecialidad %}
                        {% if id_especialidad|add:"0" == especialidad.pk %}
                            <option value={{ especialidad.pk }} selected>{{ especialidad.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <select id="estado" name="estado" class="form-control" id="ControlSelect2" onchange="">
                    {% for estado in ListaEstados %}
                        <option value={{ estado.0 }}>{{ estado.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3 text-right">
                <a class="d-flex flex-row justify-content-end mt-2 mr-3"
                   href="{% url 'listarFacultadxEsp' id_facultad=id_facultad %}">
                    <div class="fas fa-reply mt-1 mr-2"></div>
                    <h5>Volver</h5>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            {% for curso in ListaCurso %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card-group">
                        <div class="product card mr-4 mb-4" style="height: 16rem">
                            <div class="card-img-top imgbox" style="height: 15rem">
                                <a href="{% url 'listarCursoxHorario' id_curso=curso.pk %}">
                                    <img class="" src="{% static 'img/illustrations/3.png' %}">
                                </a>
                            </div>
                            <div class="specifies card-body p-1">
                                <h5 class="card-title ml-2">{{ curso.nombre }}</h5>
                                <hr class="divider">
                                <div class="row">
                                    <div class="col">
                                        <a class="float-right mr-2 pt-2 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Eliminar"
                                           href="{% url 'eliminarCurso2' id_curso=curso.pk %}"
                                           role="link">
                                            <div class="fas fa-power-off iconColorNBorder"></div>
                                        </a>
                                        <a class="float-right mr-3 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Editar"
                                           href="{% url 'editarCurso'  id_curso=curso.pk %}"
                                           role="link">
                                            <div class="fas fa-pen iconColorNBorder"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card-group service-work">
                    <a class="recent-work card mr-4 mb-4"
                       href="{% url 'agregarCurso' id_especialidad=id_especialidad %}" style="height: 16rem">
                        <div class="nav-link icon-indicator" role="button">
                            <div class="mt-4" style="text-align: center;">
                                <span class="fas fa-plus fa-9x" style="text-align: center"></span>
                            </div>
                        </div>
                        <div class="recent-work-vertical-ruk card-img-overlay">
                            <div class="service-work-content">
                                <h5 class="card-title" style="text-align: center; margin-top: 11.4rem">Agregar
                                    Curso</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
    </script>
{% endblock %}