.product {
    overflow: hidden
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 100%;
    height: 90%;
}

.specifies {
    position: absolute;
    width: 100%;
    bottom: -58px;
    background: white;
    transition: .5s
}

.product:hover .specifies {
    bottom: 0;
}

.specifies h5 {
    color: rgba(1, 126, 205, 1);
    align-content: center !important;
}

hr.divider {
    margin-top: -0.4em;
    margin-bottom: 0.7em;
}

.tooltip-inner {
    background-color: #ffffff;
    color: rgb(22, 87, 175);
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: rgb(22, 87, 175);
!important;
}

.service-wrapper .service-footer {
    max-width: 720px;
}

.service-work.card {
    border-radius: 10px !important;
    cursor: pointer;
}

.service-work .service-work-vertical {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
}

.service-work .service-work-vertical:hover {
    background-position: 0% 0%;
    transition: .5s;
}

.service-work .service-work-vertical:hover * {
    color: #000;
    border-color: #000;
    transition: .5s;
}

.service-work .service-work-vertical-ruk:hover * {
    color: #000;
    border-color: #000;
    transition: .5s;
}

.service-work h5 {
    color: rgba(1, 126, 205, 1);
}

.recent-work.card {
    border-radius: 10px !important;
}

.recent-work .recent-work-vertical {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(1, 126, 205, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
    cursor: pointer;
}

.recent-work .recent-work-vertical-ruk {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(1, 126, 205, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
    cursor: pointer;
}

.recent-work .recent-work-vertical:hover {
    background-position: 0% 0%;
    transition: .5s;
}

.recent-work .recent-work-vertical:hover div.recent-work-content {
    top: 50%;
    margin-top: -2.5em;
    position: absolute;
}

.recent-work .recent-work-vertical:hover * {
    color: white;
    transition: .5s;
}

/*¨*/
.recent-work .recent-work-vertical-ruk:hover {
    background-position: 0% 0%;
    transition: .5s;
}

.recent-work .recent-work-vertical-ruk:hover div.recent-work-content {
    top: 50%;
    margin-top: -2.5em;
    position: absolute;
}

.recent-work .recent-work-vertical-ruk:hover * {
    color: white;
    transition: .5s;
}


.team-member:hover .team-member-img {
    padding: 10px !important;
}

/* Footer */
footer a.text-light:hover {
    color: #bfbfbf !important;
    transition-duration: 0.15s;
}

.fa-power-off {
    color: rgba(1, 126, 205, 1);
}

.fa-pen{
    color: rgba(1, 126, 205, 1);
}

.fa-trash{
    color: rgba(1, 126, 205, 1);
}
