{% extends 'leon/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}


{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}

    <div>

    <form action="{% url 'leonArchivos' %}" method="post">
        {% csrf_token %}
        <select name="seleccion" class="form-control">
            {% for idioma in listaIdiomas %}
                <option value="{{ idioma.pk }}">{{ idioma.name }}</option>
            {% endfor %}
        </select>
        <input name="foto" id="banner" name="banner" type="file"
               accept="image/jpeg,image/png"/>
        <input type="submit" class="btn btn-primary" value="Holaaa">
    </form>

    <div class="row">
        {% for item in langList %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ item.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>

    function readURL(input) {
        if (input.files && input.files[0]) {
          let reader = new FileReader();

          reader.onload = function (e) {
            $('#image_preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
          console.log(input.files[0].name.split(".")[1])
          let extensions = ['jpg', 'jpeg', 'png']
          if (!(extensions.includes(input.files[0].name.split(".")[1]))) {
            $('#photo_error').text('Debe adjuntar archivos con extensión png, jpeg o jpg').removeAttr('hidden')
          } else {
            $('#photo_error').attr('hidden', 'true')
          }
        }
      }

      $("#banner").change(function () {
        readURL(this);
      });
    </script>
{% endblock %}


