{% extends 'leon/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}


{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}

    <div>
        <h1>Bienvenido </h1>

        <div class="row d-flex justify-content-center">

            <div class="col-xl-2 col-lg-6 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body"> Hola</div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body"> Hola</div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body"> Hola</div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>
        function show() {

            {#Por javascript#}
            let element = document.getElementById("campoTexto");
            console.log(element.value)

            {#Por Jquery#}
            console.log($("#campoTexto").val())
            $("#campoTexto").val("TEXTO HARDCODEADO")
            $("#campoTexto1").hide()
            $("#campoTexto2").hide()
            $("#campoTexto3").hide()


        }

    </script>
{% endblock %}


