{% extends 'leon/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}


{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}

    <div>

        <select id="selection" name="seleccion" class="form-control">
            {% for idioma in listaIdiomas %}
                <option value="{{ idioma.pk }}">{{ idioma.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" onclick="accion()" value="Holaaa"> BOTON </button>


    <div id="aquiMetemosData" class="row">
        {% for item in learnedlist %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ item.language.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.language.longitud }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>

        $(document).ready(function () {
            console.log("ready!");

        });
            function accion(){

                console.log($("#selection").val())

                $.ajax({
                    type: 'POST',
                    url: "{% url 'leonHome'%}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        seleccion: $("#selection").val(),
                    },
                    success: function (response) {
                        var instance = JSON.parse(response["newLanguage"]);
                        console.log(instance)
                        var fields = instance[0]["fields"];
                        console.log(fields)

                        data = '<div class="col">'+
                           '<div class="card" style="width: 18rem;">'+
                            '    <div class="card-body">'+
                             '       <h5 class="card-title">'+ fields.name +'</h5>'+
                              '      <h6 class="card-subtitle mb-2 text-muted">'+ fields.longitud +'</h6>'+
                               ' </div>'+
                            '</div>'+
                        '</div>'

                        $("#aquiMetemosData").append(data);
                        
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response["responseJSON"]["error"]);
                    }
                });
            }
    </script>
{% endblock %}


