{% extends 'leon/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}


{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}
   <div>
    <input id="Hola"  type="button" class="btn-falcon-primary" name="Hola" value="Hola" >
    <input type="text" id="campoDeTexto">
    <input type="button" class="btn-falcon-primary" name="Accion2" value="Accion2" >
    <input type="button" class="btn-falcon-primary" name="Accion3" value="Accion3" >
    <a><span href="{% url 'lozanoHome' %}" class="btn btn-primary btn-sm" > Lozano </span></a>
   <img id="foto" src="http://www.ip2location.com/assets/img/icon.png">
   
   </div>


{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>



    </script>
{% endblock %}


