{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        hr {
            height: .5px;
            background-color: #2F5496;
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <form action="{% url 'editarRE' pk=resultadoAcreditadora.pk %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div style="float: right;">
                    <a class="btn btn-outline-primary" type="button"
                       href="{% url 'listarRE' pk=acreditadora.pk %}">
                        <img class="img-fluid" style="height: 20px"
                             src="https://image.flaticon.com/icons/png/512/60/60577.png">
                        Volver
                    </a>
                </div>
                <h3>{{ acreditadora.nombre }} - {{ titulo }} Resultado del Estudiante </h3>
                <hr>
            </div>
        </div>

        <div class="row" style="padding-left: 1%;padding-right: 1%">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="codigo">Código:</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <input name="codigo" class="form-control" id="codigo" type="text" placeholder="Ingrese un código"
                           value="{{ resultadoAcreditadora.codigo }}" required>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 1%;padding-right: 1%">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <textarea name="descripcion" class="form-control" id="descripcion"
                              placeholder="Ingrese una descripción"
                              rows="4" required>{{ resultadoAcreditadora.descripcion }}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Asociación {{ acreditadora.nombre }} - PUCP</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="FormControlSelect1">Facultad:</label>
                <select id="facultades" name="facultades" class="form-control" id="facultades"
                        onchange="listarEspecialidades()">
                    {% for facultad in facultades %}
                        <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="especialidades">Especialidades:</label>
                <select id="especialidades" name="especialidades" class="form-control" id="especialidades"
                        onchange="listarResultadosPUCP()">
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Seleccionar</th>
                        </tr>
                        </thead>
                        <tbody id="indicadores" name="indicadoress">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if flag == 1 %}
            <div class="row" style="background-color: #017ecd; color: #fff; margin: 1%;">
                <div class="col-md-12">
                    <p style="margin: 1%;">Se ha editado correctamente</p>
                </div>
            </div>
        {% elif flag == 2 %}
            <div class="row" style="background-color: #017ecd; color: #fff; margin: 1%;">
                <div class="col-md-12">
                    <p style="margin: 1%;">Se ha insertado correctamente</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12" style="text-align: right;">
                <a class="btn btn-outline-primary" type="button"
                   href="{% url 'listarRE' pk=resultadoAcreditadora.acreditadora_id %}">Cancelar</a>
                {% if resultadoAcreditadora.pk == "0" %}
                    <input type="hidden" name="operacion" value="insertar">
                {% else %}
                    <input type="hidden" name="operacion" value="editar">
                {% endif %}
                <input type="hidden" name="acreditadora" value="{{ acreditadora.pk }}">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        </div>
        <!--<button class="btn btn-primary mb-3" type="submit">Save</button>-->
    </form>
{% endblock %}

{#Bloque de Javascript -> JS#}
{% block extrajs %}
    <script>
        $(document).ready(function () {
            console.log("ready!");
            if ("{{ facultadSeleccionada }}" != 0) {
                $("#facultades").val("{{ facultadSeleccionada }}");
            }
            listarEspecialidades();
        });

        function listarEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajaxEditar' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: 'listEspe',
                    facultad: $("#facultades").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#especialidades").append(data);
                    }
                    if ("{{ facultadSeleccionada }}"== $("#facultades").val() &&"{{ especialidadSeleccionada }}" != 0) {
                        console.log($("#facultades").val());
                        console.log("{{ facultadSeleccionada }}");
                        $("#especialidades").val("{{ especialidadSeleccionada }}");
                    }
                    listarResultadosPUCP();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarResultadosPUCP() {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajaxEditar' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: 'listREPUCP',
                    resultadoAcredPK: '{{ resultadoAcreditadora.pk }}',
                    especialidadPk: $("#especialidades").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    $(".resultado").remove();

                    if (instance.length != 0) {
                        for (var i = 0; i < instance.length; i++) {
                            console.log(instance[i]["fields"])
                            data = '<tr class="resultado">' +
                                '   <td>' + instance[i]["fields"].codigo + '</td>' +
                                '   <td>' + instance[i]["fields"].descripcion + '</td>' +
                                '   <td>';

                            if ({{ indicadorSeleccionado }} != 0 && {{ indicadorSeleccionado }} == instance[i]["pk"]) {
                                data += '   <input class="form-check-input" id="' + instance[i]["pk"]
                                    + '" type="radio" name="select" value="' + instance[i]["pk"] + '" checked>' +
                                    '<label class="form-check-label" for="' + instance[i]["pk"] + '"></label>';


                            } else {
                                data += '           <input class="form-check-input" id="' + instance[i]["pk"]
                                    + '" type="radio" name="select" value="' + instance[i]["pk"] + '" >' +
                                    '<label class="form-check-label" for="' + instance[i]["pk"] + '"></label>';
                            }

                            data += '   </td>' +
                                '</tr>';
                            $("#indicadores").append(data);
                        }
                    } else {
                        data = '<tr class="resultado">' +
                            '<th colspan="3" style="text-align: center">No se encontraron indicadores asociados a esta Especialidad</th>' +
                            '</tr>';
                        $("#indicadores").append(data);
                    }

                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }
    </script>
{% endblock %}