{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        hr {
            height: .5px;
            background-color: #2F5496;
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}

    <div class="col-12">
        <div class="fancy-tab">
            <div class="row">
                <div class="col-10">
                    <h4>Resultados de la acreditadora {{ acreditadora.nombre }}</h4>
                </div>
                <div class="col-1 text-right px-0">
                    <a class="d-flex flex-row justify-content-end mt-2 mr-3" href="{% url 'listarAcreditadoras' %}">
                        <div class="fas fa-reply mt-1 mr-2"></div>
                        <h5>Volver</h5>
                    </a>
                </div>
            </div>
            <div class="nav-bar nav-bar-center">
                <div class="nav-bar-item px-3 px-sm-4 active" >
                    <div class="mt-1">Resultados</div>
                </div>
                <div class="nav-bar-item px-3 px-sm-4">
                    <div class="mt-1">Relaciones</div>
                </div>
            </div>
            <div class="tab-contents">
                <div class="tab-content active">
                    <form action="{% url 'editarRE' pk='0' %}" method="post" style="text-align: right; margin: 1%;">
                        {% csrf_token %}
                        <input type="hidden" name="operacion" value="entrada">
                        <input type="hidden" name="acreditadora" value={{ acreditadora.pk }}>
                        <input type="submit" class="btn btn-primary mr-1 mb-1" value="Añadir">
                    </form>
                    {% for resultado in resultados %}
                        <div style="margin: 1%;">
                            <div class="card text-white bg-primary">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class="col-md-1">
                                            <h2 style="color: #fff;">{{ resultado.codigo }}</h2>
                                        </div>
                                        <div class="col-md-9"
                                             style="border-left: 1px solid #fff;border-right: 1px solid #fff;padding-left: 2%;">
                                            <p>{{ resultado.descripcion }}</p>
                                        </div>
                                        <div class="col-md-2" style="text-align: center;padding-left: 2%;">
                                            <form action="{% url 'editarRE' pk=resultado.pk %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="operacion" value="entrada">
                                                <input type="hidden" name="acreditadora" value={{ acreditadora.pk }}>
                                                <input type="submit" class="btn btn-falcon-primary mr-1 mb-1"
                                                       value="Editar">
                                            </form>
                                            <button class="btn btn-falcon-primary mr-1 mb-1" type="button">Activar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-content">
                        {% for repucp in repucps %}
                        <div style="margin: 1%;">
                            <div class="card text-white bg-primary">
                                <div class="card-body">
                                    <div>
                                        <div class="d-flex justify-content-end">
                                            <h2 style="color: #fff;">{{ repucp.2.nombre }}</h2>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <h2 style="color: #fff;">{{ repucp.1.nombre }}</h2>
                                        </div>
                                        <div class="row no-gutters" style="border-bottom: 1px solid #fff;"></div>
                                        {% for relacion in repucp.0 %}
                                        <div class="row no-gutters">
                                            <div class="col-md-6 no-gutters">
                                                {% for reacre in relacion.1 %}
                                                    <div class="row no-gutters">
                                                        <div class="col-md-2" style="border-bottom: 1px solid #fff;">
                                                            <p style="color: #fff;">{{ reacre.codigo }}</p>
                                                        </div>
                                                        <div class="col-md-10"
                                                             style="border-left: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 1px solid #fff;padding-left: 2%;">
                                                            <p>{{ reacre.descripcion }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-2"
                                                 style="border-left: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 1px solid #fff;padding-left: 2%;">
                                                <p>{{ relacion.0.codigo }}</p>
                                            </div>
                                            <div class="col-md-4"
                                                 style="border-left: 1px solid #fff; border-bottom: 1px solid #fff;padding-left: 2%;">
                                                <p style="color: #fff;">{{ relacion.0.descripcion }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}