{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae
        }

        p {
            line-height: 20%;
            text-align: center;
            font-family: "Montserrat";
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <form action="{% url 'editarIndicador' pk=indicador.pk %}" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <form>
                <div class="card p-5">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4 style="font-family: Montserrat">Editar Indicador</h4>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'listarIndicadorxResultado' id_resultado=id_resultado %}"
                               style="font-family: Roboto"><h5
                                    id="Retroceder">
                                <img class="img-fluid" style="height: 20px"
                                     src="https://image.flaticon.com/icons/png/512/60/60577.png">
                                <u>Volver</u>
                            </h5></a>
                        </div>
                    </div>

                    <hr style="background-color: #0154ae;">

                    <div class="form-group m-2">
                        <div class="row p-1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="codigo">Código:</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input name="codigo" class="form-control" id="codigo" type="text"
                                           value="{{ indicador.codigo }}">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input name="descripcion" class="form-control" id="descripcion" type="tex"
                                           value="{{ indicador.descripcion }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                           <h4 style="font-family: Montserrat">Niveles del Indicador</h4>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">
                    <div class="dashboard-data-table">
                        <table class="table table-sm table-dashboard fs--1 data-table border-bottom"
                               data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                            <thead class="bg-200 text-900">
                            <tr>
                                <th class="sort pr-1 align-middle">N°</th>
                                <th class="sort pr-1 align-middle">Nombre</th>
                                <th class="sort pr-1 align-middle">Descripcion</th>
                                <th class="sort pr-1 align-middle text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody id="purchases">

                            {% for nivel in nivelLista %}
                                <tr class="btn-reveal-trigger">
                                    <th class="align-middle"> {{ nivel.value }} </th>
                                    <th class="align-middle">{{ nivel.name }}</th>
                                    <td class="align-middle"><input type="textarea"></td>
                                    <td class="align-middle text-right fs-0">
                                        <form action="{% url 'listarNivel' %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <a href="{% url 'editarNiv' pk=nivel.pk %}"
                                                       class="badge badge rounded-capsule badge-soft-info">Editar</a>
                                                </div>
                                            </div>
                                            <input type="hidden" id="nivelPk" name="nivelPk"
                                                   value="{{ nivel.pk }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>


                    <div class="d-inline-flex  flex-row justify-content-center">
                        <div class="d-flex p-2">
                            <a class="btn btn-outline-primary" type="button"
                               href="{% url 'listarIndicadorxResultado' id_resultado=id_resultado %}">Cancelar
                            </a>
                        </div>
                        <div class="d-flex p-2">
                            <input type="submit" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </form>
{% endblock %}