{% extends 'lozano/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}

{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}
    <div style="padding-top: 3%; padding-left: 2%;">
        <h1>{{ pais.name }}</h1>
        <h5>{{ pais.capital }}</h5>
        <div class="row" style="padding-left: 1%; padding-right: 1%">
            {% for idioma in listaIdiomas %}
                <div style="padding: 1%">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ idioma.name }}</h5>
                            <p class="card-text">{{ idioma.longitud }}</p>
                            <a href="{% url 'lozanoIdioma' pk=idioma.pk %}" class="btn btn-primary">ver detalle</a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        <h3>Añadir idioma: </h3>
        <div>
            <form  method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input id="idioma" type="text" name="idioma" value="">
                </div>
                <input type="submit" value="Ingresar">
            </form>
        </div>
    </div>
{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}

{% endblock %}