{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: center;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="container-fluid">
        <div class="card p-5">
            <form action="{% url 'crearAcreditadoras' pk=acreditadora.pk %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        {% if acreditadora.pk == "0" %}
                            <h3>Agregar Acreditadora</h3>
                        {% else %}
                            <h3>Editar Acreditadora - {{ acreditadora.nombre }}</h3>
                        {% endif %}
                    </div>
                    <div class="col-2 ">
                        <a class="d-flex flex-row justify-content-end mt-2"
                           href="{% url 'listarAcreditadoras' %}">
                            <div class="fas fa-reply mt-1 mr-2"></div>
                            <h5>Volver</h5>
                        </a>
                    </div>
                </div>
                <hr style="background-color: #0154ae;">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" class="form-control" id="nombre" type="text"
                                   placeholder="Ingrese el nombre" value="{{ acreditadora.nombre }}">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col px-0">
                        <div class="form-group">
                            <label for="photo_name">Ingrese una imagen para la acreditadora</label>
                            <div class="input-group">
                                <input name="photo_name" type="text" class="form-control" readonly>
                                <span class="input-group-btn pb-3">
                                        <span class="btn btn-primary btn-file ml-3 " type="button">
                                            {% if acreditadora.pk == "0" %}
                                                Buscar…<input name="photo" type="file" id="imgInp" required
                                                              accept="image/png,image/jpg,image/jpeg"/>
                                            {% else %}
                                                Buscar… <input name="photo" type="file" id="imgInp"/>
                                            {% endif %}
                                        </span>
                                </span>
                            </div>
                            {% if acreditadora.pk == "0" %}
                                <img id='img-upload' class="img-thumbnail"/>
                            {% else %}
                                <img id='img-upload' class="img-thumbnail" src="



                                        {% if acreditadora.foto %}{{ media_path }}{{ acreditadora.foto }}{% else %}{% static 'img/team/avatar.png' %}{% endif %}"/>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <a class="btn btn-outline-primary mx-1" type="button"
                           href="{% url 'listarAcreditadoras' %}">Cancelar</a>
                        {% if acreditadora.pk == "0" %}
                            <input type="hidden" name="operacion" value="insertar">
                        {% else %}
                            <input type="hidden" name="operacion" value="editar">
                        {% endif %}
                        <input type="submit" class="btn btn-primary" value="Guardar">
                    </div>
                </div>
                <!--<button class="btn btn-primary mb-3" type="submit">Save</button>-->
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}

    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>
{% endblock %}