{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae
        }

        p {
            line-height: 20%;
            font-family: "Montserrat";
        }

        label {
            color: #f9fafd;
            font-family: "Montserrat";
        }


        .card:hover .plus {
            background-color: #0154ae;
            color: #f9fafd !important;
            cursor: pointer;

        }

        .card {
            background-color: #0154ae;
            color: #f9fafd !important;

        }


    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="row d-flex justify-content-center ">

        <div class="col-10 px-5">
            <h3 id="Titulo" style="font-family: Montserrat">{{ semestreSeleccionado.nombreCodigo }}</h3>
        </div>
        <div class="col-2">
            <a href="{% url 'listarSemestre' %}" style="font-family: Roboto"><h5 id="Retroceder">
                <img class="img-fluid" style="height: 20px"
                     src="https://image.flaticon.com/icons/png/512/60/60577.png">
                <u>Volver</u>
            </h5></a>
        </div>
    </div>

    <hr style="background-color: #0154ae;">

    <div class="row d-flex justify-content-center">


        <div class="card overflow-hidden mb-3 col-11 p-0">
            <div class="card-header bg-light">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm-auto">
                        <h5 class="mb-1 mb-md-0">Cursos del Ciclo</h5>
                    </div>
                </div>
            </div>

        {% for curso in cursoLista %}
            <div class="card-body fs--1 p-0">
                <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300"  href="/gestionarEvaluacion/evaluar">
                    <div class="notification-body">
                        <p class="mb-1">{{ curso.nombre}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
</div>
    </div>






{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}


{% endblock %}