{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

    <style>
        #Titulo {
            color: #0154ae
        }


    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    {% comment %} <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <h5 class="mb-2 mb-md-0 text-white">Semestre {{ semestreSeleccionado.nombreCodigo }}</h5>
                </div>
            </div>
        </div>
    </div>{% endcomment %}
    <div class="card p-5">
        <div class="row d-flex ">
            <div class="col-10">
                <h4>Semestre {{ semestreSeleccionado.nombreCodigo }}</h4>
            </div>
            <div class="col-2">
                <a class="d-flex flex-row justify-content-start mt-2"
                   href="{% url 'listarSemestre' %}">
                    <div class="fas fa-reply mt-1 mr-2"></div>
                    <h5>Volver</h5>
                </a>
            </div>
        </div>
        <hr style="background-color: #0154ae;">
        <div class="row d-flex ">
            <div class="col">
                <label for="cboEspecialidad">Especialidad:</label>
                <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad" name="cboEspecialidad"
                        onchange="listarCursos()">
                    {% for especialidad in especialidades %}
                        <option value={{ especialidad.pk }}>{{ especialidad.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="d-flex ">
            <div class="card overflow-hidden mb-3 col-12 p-0">
                <div class="card-header bg-light">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-auto">
                            <h5 class="mb-1 mb-md-0">Cursos del Ciclo</h5>
                        </div>
                    </div>
                </div>
                <div id="listaCursos">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}

    <script>
        $(document).ready(function () {
            listarCursos();
        });


        function listarCursos() {
            $.ajax({
                type: 'POST',
                url: "{% url 'enviarCursoHorario' pk=semestreSeleccionado.pk %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidad: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["cursoLista"]);
                    var data = '';
                    var i = 0;
                    var tam = instance.length;
                    data += '<div class="card-body  p-0">'
                    for (i = 0; i < tam; i++) {
                        data +=
                            '<a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300"' +
                            ' href="/gestionarEvaluacion/evaluar/' + instance[i]['pk'] + '?sem=' + '{{ semestreSeleccionado.pk }}' + '">' +
                            '<div class="notification-body">' + '<p class="mb-1">' + instance[i]["fields"].nombre + '</p>' +
                            '</div> </a> </div>'
                    }
                    $('#listaCursos').html(data);
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }


    </script>
{% endblock %}