
<div class="col-md-1" style="align-self: center; text-align: center;">
    <button id="sb-btn" type="button" class="btn" style="align: center">
        Button
    </button>
</div>
<div class="col-md-11">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="justify-content: space-between">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/lozano/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pagina 1</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" />
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
</div>