{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        .bg-primary {
            background-color: #0154AE !important;
        }

        .btn-primary {
            background-color: #0154AE;
            border-width: 1px;
            border-color: #fff;
        }

        .btn-primary:hover {
            background-color: #017ECD;
            border-width: 1px;
            border-color: #fff;
        }

        .btn-primary:focus {
            color: #0154AE;
            background-color: #F9FAFD;
            border-width: 1px;
            border-color: #fff;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }

        .nav-link {
            font-family: Montserrat;
            color: #CACACA;
        }

        .nav-link:hover {
            font-family: Montserrat;
            background-color: #CEE3FF;
            color: black;
        }

        .nav-link:focus {
            font-family: Montserrat;
            color: #2F5496;
        }

        hr {
            height: .5px;
            background-color: #2F5496;
        }

        h3 {
            font-family: Montserrat;
            color: #2F5496;
        }

        .btn-success {
            float: right;
            background-color: #EDF2F9;
            border-color: #EDF2F9;
        }

        .btn-success:hover {
            background-color: #CEE3FF;
            border-color: #CEE3FF;
        }

        .btn-success:focus {
            background-color: #CEE3FF;
            border-color: #CEE3FF;
        }

        .btn-success:active {
            background-color: #CEE3FF !important;
            border-color: #CEE3FF !important;
        }

        .fa-ellipsis-v {
            color: #2F5496;
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <a href="{% url 'crearResultado' %}" class="btn btn-primary mr-1 mb-1">Añadir</a>
                    {% for resultado in resultados %}
                        <div style="margin: 1%;">
                            <div class="card text-white bg-primary">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class="col-md-1">
                                            <h2 style="color: #fff;">{{ resultado.codigo }}</h2>
                                        </div>
                                        <div class="col-md-9"
                                             style="border-left: 1px solid #fff;border-right: 1px solid #fff;padding-left: 2%;">
                                            <p>{{ resultado.descripcion }}</p>
                                        </div>
                                        <div class="col-md-2" style="text-align: center;padding-left: 2%;">
                                            <a href="{% url 'editarResultado' pk=resultado.pk %}"
                                               class="btn btn-primary mr-1 mb-1">Editar</a>
                                            <button class="btn btn-primary mr-1 mb-1" type="button">Activar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}