{% extends 'gilmer/base/base.html' %}

{# CSS adicional #}
{% block extrastyle %}

{% endblock %}

{# body #}
{% block body %}
    <div class="col-md-12">
        <h2>EDITAR PUGBM TEAM</h2>
        <form action="{% url 'editarPubgmTeam' pk=pubgmTeam.pk %}" method="post">
            {% csrf_token %}
             <br>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">NOMBRE:</label>
                <div class="col-sm-3">
                  <input type="text" name="name" id="name" value="{{ pubgmTeam.name }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="numPlayers" class="col-sm-2 col-form-label">NUMERO DE JUGADORES:</label>
                <div class="col-sm-1">
                  <input type="number" name="numPlayers" id="numPlayers" value="{{ pubgmTeam.numPlayers }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="region" class="col-sm-2 col-form-label">REGION:</label>
                <div class="col-sm-3">
                  <input type="text" name="region" id="region" value="{{ pubgmTeam.region }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="igl" class="col-sm-2 col-form-label">IGL:</label>
                <div class="col-sm-3">
                  <input type="text" name="igl" id="igl" value="{{ pubgmTeam.igl }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="scout" class="col-sm-2 col-form-label">SCOUT:</label>
                <div class="col-sm-3">
                  <input type="text" name="scout" id="scout" value="{{ pubgmTeam.scout }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="sniper" class="col-sm-2 col-form-label">CARRY:</label>
                <div class="col-sm-3">
                  <input type="carry" name="carry" id="carry" value="{{ pubgmTeam.carry }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="support" class="col-sm-2 col-form-label">SUPPORT:</label>
                <div class="col-sm-3">
                  <input type="text" name="support" id="support" value="{{ pubgmTeam.support }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="sniper" class="col-sm-2 col-form-label">SNIPER:</label>
                <div class="col-sm-3">
                  <input type="text" name="sniper" id="sniper" value="{{ pubgmTeam.sniper }}">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Guardar">
        </form>
        {% if flag %}
            <b><p>Equipo Editado!</p></b>
        {% endif %}
    </div>
{% endblock %}

{# JAVASCRIPT adicional #}
{% block extrajs %}
{% endblock %}