{% extends 'jherson/base/base.html' %}
{# CSS ADICIONALES #}
{% block extrastyle %}


{% endblock %}

{# body #}
{% block body %}
    <div class="col-md-12">
        <h2>Insertar Pokemon: </h2>
        <form action="{% url 'jhersonInsertarPokemon' %}" method="post">
                {% csrf_token %}
                <p>Nombre: </p>
                <div class="form-group">
                    <input id="nombre" type="text" name="nombre" value="">
                </div>
                <p>Tipo: </p>
                <select id="tipo" name="tipo">
                    {% for tipo in lTipo %}
                        <option value="{{ tipo.pk }}">{{ tipo.nombre }}</option>
                    {% endfor %}

                </select>
                <p>Altura: </p>
                <div class="form-group">
                    <input id="altura" type="text" name="altura" value="">
                </div>
                <p>Peso: </p>
                <div class="form-group">
                    <input id="peso" type="text" name="peso" value="">
                </div>

                <p>Link de la imagen: </p>
                <div class="form-group">
                    <input id="link-imagen" type="text" name="link-imagen" value="">
                </div>
                <input type="submit" value="Ingresar">
        </form>
    {% if ingresado %}
        <p>Pokemon Ingresado !</p>
    {% endif %}
    </div>
{% endblock %}


{# JAVASCRIPT adicional #}
{% block extrajs %}

{% endblock %}