{#Heredar toda la estructura de base#}
{% extends 'authentication/base/login_base.html' %}
{% load static %}
{% block extrastyle %}
<style>
    .btn btn-primary btn-esp {
        color: #ff00fe;
        background-color: #ff00fe;
        text-align: right;
    }

    .btn-secondary {
        color: #ff00fe;
    !important;
    }

    body {
        letter-spacing: 0.7px;
        background-color: #eee
    }

    .container {

    }

    p {
        font-size: 14px
    }

    .btn-primary {
        background-color: #42A5F5 !important;
        border-color: #42A5F5 !important
    }

    .cursor-pointer {
        cursor: pointer;
        color: #42A5F5
    }

    .pic {
        margin-top: 30px;
        margin-bottom: 20px
    }

    .card-block {
        width: 200px;
        min-height: 210px;
        border: 1px solid lightgrey;
        border-radius: 5px !important;
        background-color: #FAFAFA;
        margin-bottom: 30px
    }

    .card-body.show {
        display: block
    }

    .card {
        box-shadow: 2px 2px 6px 0px rgb(200, 167, 216)
    }

    .radio {
        display: inline-block;
        border-radius: 0;
        box-sizing: border-box;
        cursor: pointer;
        color: #000;
        font-weight: 500;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%)
    }

    .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
    }

    .radio.selected {
        box-shadow: 0px 8px 16px 0px #EEEEEE;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        filter: grayscale(0%)
    }

    .selected {
        background-color: #E0F2F1
    }

    .a {
        justify-content: center !important
    }

    .btn {
        border-radius: 0px
    }

    .btn,
    .btn:focus,
    .btn:active {
        outline: none !important;
        box-shadow: none !important
    }


</style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 flex-center no-gutters">
                <div class="">
                    <img class="bg-auth-circle-shape" src="../../static/img/illustrations/bg-shape.png" alt=""
                         width="250">
                    <img class="bg-auth-circle-shape-2" src="../../static/img/illustrations/shape-1.png"
                         alt="" width="150">
                    <div class="card overflow-hidden z-index-1">
                        <div class="card-body p-0">
                            <div class="row no-gutters h-100">
                                <div class="col-md-5 text-white text-center bg-card-gradient">
                                    <div class="position-relative p-4 pt-md-5 pb-md-7">
                                        <div class="bg-holder bg-auth-card-shape"
                                             style="background-image:url({% static '/img/illustrations/half-circle.png' %});">
                                        </div>
                                        <!--/.bg-holder-->

                                        <div class="z-index-1 position-relative"><a
                                                class="text-white mb-4 text-sans-serif font-weight-extra-bold fs-4 d-inline-block"
                                                href="{% url 'home' %}">APOLO</a>
                                            <p class="text-white opacity-75">Selecciona el rol con el que desea
                                                ingresar,
                                                dependiendo del rol se habilitarán diferentes permisos dentro de la
                                                plataforma</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4 mt-md-4 mb-md-5">

                                        <p><br><a class="text-white text-underline"
                                                  href="../../">Regresar</a></p>
                                        <p class="mb-0 mt-5 mt-md-5 fs--1 font-weight-semi-bold text-white">
                                            Powered by Open Balance
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex align-items-center">
                                    <div class="p-4 p-md-5 flex-grow-1 align-items-center">
                                        <h3 class="mb-3">Deseo ingresar como: </h3>


                                        <div class="container row">


                                                            {% for x,y in roles %}
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 radio-group justify-content-between text-center">
                                                                <div class="card-block text-center radio " data-value="{{ x }}">
                                                                    <div class="flex-row">
                                                                        <div class="col">
                                                                            <div class="pic"><img
                                                                                    class="irc_mut img-fluid"
                                                                                    src="https://i.imgur.com/6r0XCez.png"
                                                                                    width="100" height="100"></div>
                                                                            <p>{{ y }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                             {% endfor %}




                                        </div>
                                        <div class="row justify-content-between">
                                                                <div class="col-auto">
                                                                    <button type="button" class="btn btn-primary" onclick="ingresar_rol()">
                                                                        Ingresar<span class="ml-2"><i
                                                                            class="fa fa-angle-right"
                                                                            aria-hidden="true"></i></span></button>
                                                                </div>
                                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
{% endblock %}

{#Bloque de extra JS -> JS#}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            $('.radio-group .radio').click(function () {
                $('.selected .fa').removeClass('fa-check');
                $('.radio').removeClass('selected');
                $(this).addClass('selected');
            });
        });

        function ingresar_rol() {
            var valor = $('.selected').attr('data-value');

            console.log(valor)

            $.ajax({
                type: 'POST',
                url: "{% url 'selectrol' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    rol_actual: valor,
                },
                success: function (response) {
                    console.log(valor)
                    //funciona
                    //definir a que pagina ira cada usuario
                    document.location.href = "../../facultades/listar/";
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });

        }

    </script>
{% endblock %}
