{#Heredar toda la estructura de base#}
{% extends 'authentication/base/login_base.html' %}
{% load static %}
<style>
    .btn btn-primary btn-esp {
        color: #ff00fe;
        background-color: #ff00fe;
        text-align: right;
    }
</style>
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 flex-center no-gutters">
                <div class="col-lg-8 col-xxl-5 py-3">
                    <img class="bg-auth-circle-shape" src="../../static/img/illustrations/bg-shape.png" alt=""
                         width="250">
                    <img class="bg-auth-circle-shape-2" src="../../static/img/illustrations/shape-1.png"
                         alt="" width="150">
                    <div class="card overflow-hidden z-index-1">
                        <div class="card-body p-0">
                            <div class="row no-gutters h-100">
                                <div class="col-md-5 text-white text-center bg-card-gradient">
                                    <div class="position-relative p-4 pt-md-5 pb-md-7">
                                        <div class="bg-holder bg-auth-card-shape"
                                             style="background-image:url({% static '/img/illustrations/half-circle.png' %});">
                                        </div>
                                        <!--/.bg-holder-->

                                        <div class="z-index-1 position-relative"><a
                                                class="text-white mb-4 text-sans-serif font-weight-extra-bold fs-4 d-inline-block"
                                                href="{% url 'home' %}">APOLO</a>
                                            <p class="text-white opacity-75">Selecciona el rol con el que desea ingresar,
                                                dependiendo del rol se habilitarán diferentes permisos dentro de la
                                                plataforma</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4 mt-md-4 mb-md-5">

                                        <p><br><a class="text-white text-underline"
                                                  href="../../">Regresar</a></p>
                                        <p class="mb-0 mt-5 mt-md-5 fs--1 font-weight-semi-bold text-white">
                                            Powered by Open Balance
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-7 d-flex flex-center">
                                    <div class="p-4 p-md-5 flex-grow-1">
                                        <h3 class="mb-3">Deseo ingresar como: </h3>
                                        <form method="POST" action="{% url 'login' %}">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Administrador</option>
                                                    <option>Docente</option>

                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <button class="btn btn-primary btn-block mt-3" type="submit"
                                                        name="submit">
                                                    Ingresar
                                                </button>
                                            </div>

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
{% endblock %}

{#Bloque de extra JS -> JS#}

{% block extrajs %}
{% endblock %}
