{% extends 'base/base.html' %}
{% load static %}
{% block extrastyle %}
<style>
    .fa-plus {
        color: #FFFFFF !important;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: center;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

</style>
{% endblock %}

{% block body %}

    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="d-flex flex justify-content-start">
                    <h5 class="mb-2 mb-md-0 text-white">Usuarios</h5>

            </div>
        </div>
    </div>

    <div class="row ml-0 mr-0 mb-3 px-0">

                {#                <div class="col-4 col-sm-auto d-flex align-items-center pr-0">#}
                {#                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Usuarios</h5>#}
                {#                </div>#}


                <a href="" data-toggle="modal" data-target="#importarUsuarios"
                   class="btn btn-primary mb-1" type="button" style="width: 100%">
                    <span class="fas fa-plus mr-1"></span><span>Importar Usuarios</span>
                </a>

        </div>
        <div class="card-body p-0">
        <div class="card">
        <div class="card-body">

                <div class="col-8 col-sm-auto ml-auto">

                    <div id="dashboard-actions">
                        <a href="{% url 'user' %}" class="btn btn-primary mr-1 mb-1" type="button">
                            <span class="fas fa-plus mr-1" data-fa-transform="shrink-3"></span><span>Agregar</span></a>
                    </div>
                </div>
           <div class="falcon-data-table" style="position: initial; margin-top: -2vm">

                <table class="table table-sm mb-0 table-striped table-dashboard fs--1 data-table border-bottom border-200"
                       data-options='{"searching":true,"responsive":false,"paging":true,"info":true,"lengthChange":false,"sWrapper":"falcon-data-table-wrapper","dom":"<&#39;row mx-1&#39;<&#39;col-sm-12 col-md-6&#39;l><&#39;col-sm-12 col-md-6&#39;f>><&#39;table-responsive&#39;tr><&#39;row no-gutters px-1 py-3 align-items-center justify-content-center&#39;<&#39;col-auto&#39;p>>",
                        "language":{
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": " <span class=\"fas fa-search\"></span>",
                        "searchPlaceholder":"Criterio de búsqueda",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                            }
                        }}'>

                    <thead class="bg-200 text-900">

                    <tr>
                        <th class="align-middle no-sort"></th>
                        <th class="align-middle sort">Nombre</th>
                        <th class="align-middle sort pr-7">Código</th>
                        <th class="align-middle sort" style="min-width: 12.5rem;">Correo</th>
                        <th class="align-middle text-left no-sort">Estado</th>
                    </tr>
                    </thead>
                    <tbody id="orders">
                    {% for user in users %}
                        <tr class="btn-reveal-trigger">
                            <td class="align-middle">
                                <div class="avatar avatar-3xl mr-3">


                                    {% if user.photo.name %}

                                        <img class="rounded-circle"
                                             src="/media/{{ user.photo.name }}/"
                                             alt=""/>
                                    {% else %}
                                        <img class="rounded-circle"
                                             src="{% static 'img/team/avatar.png' %}"
                                             alt=""/>
                                    {% endif %}


                                    </div>
                                </td>
                                <th class="align-middle"><a
                                        href="{% url 'editUsers' pk=user.pk %}">{{ user.first_name }}</a></th>
                                <td class="align-middle">{{ user.code }}</td>
                                <td class="align-middle">{{ user.email }}</td>
                                <td class="align-middle">
                                    {% if user.is_active %}
                                        <a href="{% url 'activateUser' pk=user.id %}" class="btn btn-primary mr-1 mb-1" type="button">
                                            <span class="fas fa-power-off mr-1" style="color: white;" data-fa-transform="shrink-3"></span>Activo
                                        </a>
                                    {% else %}
                                        <a href="{% url 'activateUser' pk=user.id %}"
                                           class="btn btn-falcon-primary btn-sm mr-2  text-body align-right">
                                            <i class="fa fa-power-off" aria-hidden="true"></i> Inactivo</a>
                                    {% endif %}
                                </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        </div>
    </div>

    <!-- Modal Importar Usuarios -->
    <div class="modal fade" id="importarUsuarios" tabindex="-1" role="dialog" aria-labelledby="importarUsuariosLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importarUsuariosLabel">Subir Archivo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="formImportar" name="formImportar" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombre_archivo">Seleccione un archivo csv: </label>
                            <div class="input-group">
                                <input name="nombre_archivo" id="nombre_archivo" type="text" class="form-control"
                                       readonly>
                                <span class="input-group-btn pb-3">
                                        <span class="btn btn-primary btn-file ml-3 " type="button">Seleccionar
                                            <input name="archivo" id="archivo" type="file" required/>
                                        </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm" id="btnImportar">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error-->
    <div class="modal fade" id="errorModal1" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="errorModalLabel">¡Ocurrió un error!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar"
                            onclick="redirectPage()"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div id="error_message" class="modal-body bg-soft-danger">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"
                            onclick="redirectPage()">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal TodoBien-->
    <div class="modal fade" id="successModal1" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">¡La operacion se completo con exito!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar"
                            onclick="redirectPage()"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div id="success_message" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"
                            onclick="redirectPage()">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>
    <script>

        function redirectPage() {
            location.reload();
        }

        $(document).ready(function () {

            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#archivo").change(function () {
                readURL(this);
            });

            console.log("cargado");
        });

        $("#btnImportar").on('click', function (e) {
            e.preventDefault();
            if ($("#formImportar").valid()) {
                console.log("ENTRA?")
                importarUsuarios();
                $("#importarUsuarios").modal('hide')
            }
        });

        $("#btnImportar").on('click', function (e) {
            e.preventDefault();
            if ($("#formImportar").valid()) {
                console.log("ENTRA?")
                importarUsuarios();
                $("#importarUsuarios").modal('hide')
            }
        });

        function importarUsuarios() {
            var fd = new FormData();
            var files = $('#archivo')[0].files;

            // Check file selected or not
            if (files.length > 0) {
                fd.append('archivo', files[0]);
                fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                fd.append('nombre_archivo', $("#nombre_archivo").val());

                $.ajax({
                    type: 'POST',
                    url: "{% url 'importarUsuarios' %}",
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response["hayError"]) {
                            mostrarError(response["error_message"]);
                        }
                        else{
                            mostrarTodoBien(response["success_message"]);
                        }
                    },
                    error: function (response) {
                        console.log("ERROR")
                        console.log(response)
                    }
                });
            }
        }

        function mostrarError(error_message) {
            console.log(error_message);
            data = '';
            data += (
                '<p>' + error_message + '</p>'
            )
            $("#error_message").html(data);
            $("#errorModal1").modal({backdrop: 'static', keyboard: false, show: true});
        }

        function mostrarTodoBien(success_message) {
            console.log(success_message);
            data = '';
            data += (
                '<p>' + success_message + '</p>'
            )
            $("#success_message").html(data);
            $("#successModal1").modal({backdrop: 'static', keyboard: false, show: true});
        }

    </script>
{% endblock %}