{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        html {
            font-family: 'Open Sans', sans-serif;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .alignRight {
            position: absolute;
            right: 20px;
            top: 8px;
        }

        .iconSize {
            font-size: 23px;
            z-index: 9999;
        }

        .iconColorNBorder {
            color: white;
            stroke: black;
            stroke-width: 6;
            z-index: 9999;
        }

        .equal {
            margin-top: 20px;
        }

        .light-300 {
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 300;
        }


        .typo-space-line::after,


            /* Main Nav */
        #main_nav .nav-item .nav-link:hover {
            color: #fff;
        }

        /* Home */
        #index_banner {
            background-image: url('./../img/banner-bg-01.jpg');
            background-position: center center;
            background-size: cover;
            height: 100%;
            min-height: 60vh;
            width: 100%;
        }

        #index_banner .carousel-item {
            min-height: 60vh;
        }

        #index_banner .carousel-control-prev i,
        #index_banner .carousel-control-next i {
            color: #FFADB9 !important;
            text-decoration: none;
            font-size: 4em;
        }

        #index_banner .carousel-inner {
            height: 80vh;
        }

        #index_banner .carousel-indicators li,
        #index_banner .carousel-indicators.active {
            background-color: #FFADB9 !important;
        }

        .service-wrapper .service-footer {
            max-width: 720px;
        }

        .service-work.card {
            border-radius: 10px !important;
            cursor: pointer;
        }

        .service-work .service-work-vertical {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .service-work .service-work-vertical-ruk:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .recent-work.card {
            border-radius: 10px !important;
        }

        .recent-work .recent-work-vertical {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(1, 126, 205, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical-ruk {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(100, 149, 237, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical:hover * {
            color: white;
            transition: .5s;
        }

        /*¨*/
        .recent-work .recent-work-vertical-ruk:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical-ruk:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical-ruk:hover * {
            color: white;
            transition: .5s;
        }


        .team-member:hover .team-member-img {
            padding: 10px !important;
        }

        /* Footer */
        footer a.text-light:hover {
            color: #bfbfbf !important;
            transition-duration: 0.15s;
        }
    </style>

{% endblock %}


{% block body %}

  <div class="">
    <div class="">
      <h3>Registro de Usuario</h3>
      <form id="applicantForm" {% comment %}action="{% url 'applicant_register' %}"{% endcomment %} method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container-fluid">
	        <div class="row">
                <div class="col-md-6">
                    <legend>Información general</legend>
                    <!-- BLOQUE DE CAMPOS -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="first_name">{{ user_form.first_name.label }}</label>
                              <abbr class="ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="Campo requerido">*</abbr>
                              {{ user_form.first_name }}
                              {% if "first_name" in errors %}
                                {% for e in errors.first_name %}
                                  <label class=" error">{{ e }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="codigo">{{ user_form.codigo.label }}</label>
                              <abbr class="ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="Campo requerido">*</abbr>
                              {{ user_form.codigo }}
                              {% if "codigo" in errors %}
                                {% for e in errors.codigo %}
                                  <label class=" error">{{ e }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="genero">{{ user_form.genero.label }}</label>
                              <abbr class="ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="Campo requerido">*</abbr>
                              {{ user_form.genero }}
                              {% if "genero" in errors %}
                                {% for e in errors.genero %}
                                  <label class=" error">{{ e }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <label for="email">{{ user_form.email.label }}</label>
                              <abbr class="ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="Campo requerido">*</abbr>
                              {{ user_form.email }}
                              {% if "email" in errors %}
                                {% for e in errors.email %}
                                  <label class=" error">{{ e }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                            <div class="form-group">
                              <label for="estado">{{ user_form.estado.label }}</label>
                              <abbr class="ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="Campo requerido">*</abbr>
                              {{ user_form.estado }}
                              {% if "estado" in errors %}
                                {% for e in errors.estado %}
                                  <label class=" error">{{ e }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3 text-center absolute-vertical-center">
                      <div class="avatar avatar-5xl shadow-sm img-thumbnail rounded-circle">
                        <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                          <img src="{% static 'img/team/avatar.png' %}" width="200" alt="" id="image_preview" data-dz-thumbnail/>
                          <input class="d-none" id="photo" name="photo" type="file" accept="image/png,image/jpeg,image/jpg"/>
                          <label class="mb-0 overlay-icon d-flex flex-center" for="photo">
                            <span class="bg-holder overlay overlay-0"></span>
                            <span class="z-index-1 text-white text-center fs--1">
                              <span class="fas fa-camera"></span>
                              <span class="d-block">Agregar foto</span>
                            </span>
                          </label>
                        </div>
                      </div>
                      {% if "photo" in errors %}
                        {% for e in errors.photo %}
                          <label class=" error mt-2">{{ e }}</label>
                        {% endfor %}
                      {% endif %}
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                 <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Registrar</button>
                </div>
            </div>
            <div class="col-md-6">
            </div>
	    </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'lib/select2/select2.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/connectycube@3.7.7/dist/connectycube.min.js"></script>
  <script>
    $(document).ready(function () {

      {% comment %}$("form[id='applicantForm']").validate({
        rules: {
          photo: {
            extension: "jpeg|jpg|png"
          },
        },
        messages: {
          photo: {
            extension: "Solo se aceptan archivos jpeg o png"
          },
          first_name: {
            required: "Debe ingresar nombre y apellido",
            maxlength: "Nombre y apellido fuera del máximo de caracteres"
          },
          mobile_phone: {
            required: "Debe ingresar un celular",
            digits: "Debe ingresar números",
            maxlength: "Teléfono fuera de rango",
            minlength: "Debe tener mínimo 9 dígitos",
            min: 'Ingrese un celular válido'
          },
          email: {
            required: "Debe ingresar un correo",
            email: "Debe ingresar un correo válido",
            maxlength: "Correo fuera de rango"
          },
          password: {
            required: "Debe ingresar una contraseña",
            minlength: "Tamaño mínimo de contraseña: 6",
          },
          identification_number: {
            required: "Debe ingresar DNI",
            digits: "Debe ingresar números",
            minlength: "Debe tener 8 dígitos",
            rangelength: "Debe tener 8 dígitos",
            min: 'Ingrese un DNI válido'
          },
          department: {
            required: "Debe seleccionar un departamento",
          },
          province: {
            required: "Debe seleccionar una provincia",
          },
          location: {
            required: "Debe seleccionar un distrito",
          },
          checkbox_conditions: {
            required: "* Debe aceptar los <strong>términos y condiciones</strong>",
          }
        },
        wrapper: 'div',
        errorPlacement: function (error, element) {
          console.log(error)
          if (element.attr("name") === "department") {
            error.appendTo(".errorTxtDepartment");
          } else if (element.attr("name") === "province") {
            error.appendTo(".errorTxtProvince");
          } else if (element.attr("name") === "location") {
            error.appendTo(".errorTxtLocation");
          } else if (element.attr("name") === "checkbox_conditions") {
            error.addClass('alert alert-danger')
            error.appendTo("#conditions_alert");
          } else {
            error.insertAfter(element);
          }
        },
      });{% endcomment %}


      {% comment %}Se visualiza la imagen que se selecciona{% endcomment %}
      function readURL(input) {
        if (input.files && input.files[0]) {
          let reader = new FileReader();

          reader.onload = function (e) {
            $('#image_preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
          console.log(input.files[0].name.split(".")[1])
          let extensions = ['jpg', 'jpeg', 'png']
          if (!(extensions.includes(input.files[0].name.split(".")[1]))) {
            $('#photo_error').text('Debe adjuntar archivos con extensión png, jpeg o jpg').removeAttr('hidden')
          } else {
            $('#photo_error').attr('hidden', 'true')
          }
        }
      }

      $("#photo").change(function () {
        readURL(this);
      });
    })

  </script>
{% endblock %}
