{% extends 'lozano/base/base.html' %}

{#CSS adicional#}
{% block extrastyle %}

{% endblock %}

{#BODY#}
{% block body %}
    <div class="col-md-12" style="padding-top: 1%">
        <h2>Editar Pokemon:</h2>
        <form action="{% url 'lozanoEditarPokemon' pk=pokemon.pk %}" method="post">
            {% csrf_token %}
            <p>Nombre: </p>
            <div class="form-group">
                <input id="nombre" type="text" name="nombre" value="{{ pokemon.nombre }}">
            </div>
            <p>Tipo: </p>
            <div class="form-group">
                <select id="tipo" name="tipo">
                    {% for tipo in lTipo %}
                        {% if tipo.pk == pokemon.tipo.pk %}
                            <option value="{{ tipo.pk }}" selected>{{ tipo.nombre }} </option>
                        {% else %}
                            <option value="{{ tipo.pk }}">{{ tipo.nombre }} </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <p>Altura: </p>
            <div class="form-group">
                <input id="altura" type="text" name="altura" value="{{ pokemon.altura }}">
            </div>
            <p>Peso: </p>
            <div class="form-group">
                <input id="peso" type="text" name="peso" value="{{ pokemon.peso }}">
            </div>
            <p>Link de la imagen: </p>
            <div class="form-group">
                <input id="link-imagen" type="text" name="link-imagen" value="{{ pokemon.imagen }}">
                <br>
                <img style="width: 18rem;" src="{{ pokemon.imagen }}">
            </div>
            <input type="submit" value="Editar">
        </form>
        {% if flag %}
            <b><p>Pokemon Editado!</p></b>
        {% endif %}
    </div>
{% endblock %}

{#JAVASCRIPT adicional#}
{% block extrajs %}
{% endblock %}