{% extends 'lozano/base/base.html' %}

{#CSS adicional#}
{% block extrastyle %}
    <style>

    </style>
{% endblock %}

{#BODY#}
{% block body %}
    <div class="col-md-12">
        {% if flag %}
            <b><p>Pokemon Eliminado :C</p></b>
        {% endif %}
        <div class="row" style="padding-left: 1%; padding-right: 1%">
            {% for pokemon in lPokemon %}
                <div style="margin: 1%;">
                    <div class="card" style="width: 18rem; background-color: {{ pokemon.tipo.color }} ;">
                        <img class="card-img-top" src="{{ pokemon.imagen }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">N.º{{ pokemon.pk }} {{ pokemon.nombre }}</h5>
                            <p class="card-text" style="color: white;">{{ pokemon.tipo.nombre }}</p>
                            <a href="{% url 'lozanoPokemonDetalle' pk=pokemon.pk %}" class="btn btn-primary" style="background-color: black;color: white;border-color: white;">Ver detalle</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{#JAVASCRIPT adicional#}
{% block extrajs %}
{% endblock %}