{% extends 'lozano/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}

{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}

    <div style="padding-top: 3%">
        <h3>Buscar Pais:</h3>
    </div>

    <div style="">
        <form action="{% url 'lozanoHome' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input id="nombrePais" type="text" name="nombrePais" value="">
            </div>
            <input type="submit" value="Buscar">
        </form>
    </div>

    {% if request.POST %}
        {% if found %}
            <div style="padding: 1% 5% 5% 0%;">
                <div class="card" style="width: 20; ">
                    <div class="card-body">
                        <h5 class="card-title">{{ pais }}</h5>
                        <p class="card-text">Capital: {{ capital }}</p>
                        <a href="{% url 'lozanoPais' pk=key %}" class="btn btn-primary">Ver Mas</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div style="padding: 1% 5% 5% 0%;">
                <p>Pais no encontrado!</p>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}


{#Aquí coloco el JS particular de la web#}
{% block extrajs %}

{% endblock %}


