{% extends 'jhonatan/base2/base.html' %}

{% block extrastyle %}
<style>
.Box{
    margin: 5px;
    padding: 5px;
}
</style>
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for user in usuario %}
    <div class="Box">
    <div class="card" style="width: 20rem;">
        <img src="https://media.tenor.com/images/7b2c159090e6919c5a84bbaaed1ff73a/tenor.gif" class="brand-image" />
        <div class="card-body">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <label for="name"> {{ user.name }}</label>
                <br>
                <label for="name">Tamaño del osito(m):</label>
                <label for="name"> {{ user.longitud }}</label>
            </div>

            <a class="btn btn-outline-primary btn-sm"
                           href="{% url 'editarOsitos' pk=user.pk %}">Editar</a>
            <a class="btn btn-primary btn-sm" href="{% url 'detalleOsitos' pk=user.pk %}">Ver detalle</a>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'muerteOsito' pk=user.pk %}">X</a>

        </div>
    </div>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}