{% load static %}
<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
    <div class="container"><a class="navbar-brand" href="../index.html"><span class="text-white">Apolo</span></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard"
                aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse scrollbar perfect-scrollbar" id="navbarStandard">

            <ul class="navbar-nav ml-auto">

{#                <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link"#}
{#                                                                   id="navbarDropdownComponents" href="#" role="button"#}
{#                                                                   data-toggle="dropdown" aria-haspopup="true"#}
{#                                                                   aria-expanded="false">Servicios</a>#}
{#                <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link"#}
{#                                                                   id="navbarDropdownDocumentation" href="#"#}
{#                                                                   role="button" data-toggle="dropdown"#}
{#                                                                   aria-haspopup="true" aria-expanded="false">#}
{#                    Información</a>#}
{##}
{##}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>
