{% load static %}
<section class="bg-light py-5">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <!--h3 class="feature-work-title h4 text-muted light-300">Featured Work</h3>-->
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600">Acreditación de programas en Ciencias e Ingeniería</h1>
                    <p align="justify" class="feature-work-body text-muted light-300" style="font-size: 18px">
                        La acreditación de una carrera profesional es el reconocimiento público de parte de una institución externa correspondiente al cumplimiento de la calidad académica ofrecida y de la verificación de los objetivos declarados por el programa académico de una institución de educación superior.
                        Obtener la acreditación implica un proceso de autoevaluación voluntaria al que deciden someterse los programas académicos.
                    </p>
                    <p align="justify" class="feature-work-footer text-muted light-300"  style="font-size: 18px">
                        El proceso de acreditación involucra a estudiantes, docentes, personal administrativo y a todas las unidades de la Universidad que brindan el soporte institucional a los programas académicos.
                    </p>
                </div>
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" >
                            <img class="img-fluid" src="{% static 'img/illustrations/2.png' %}">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="./assets/img/feature-work-2-large.jpg">
                            <img class="img-fluid" src="{% static 'img/illustrations/4.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
