{% load static %}
<section class="bg text-center">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="fs-2 fs-sm-4 fs-md-5">Servicios</h1>
                <p class="lead">Encuentra las soluciones para tu negocio y comienza con tu transformación digital.</p>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-lg-4 mb-lg-6 mb-6">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-sass fs-4 text-info"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Logotipo</h5>
                        <p>El contacto con tu cliente lo genera tu imagen. Fortalece tu imagen y sé la mejor opción para
                            tus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-6 mb-6">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-node-js fs-5 text-success"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Desarrollo Web</h5>
                        <p>Posiciona tu web, incorpora nuevas herramientas de venta y transforma tu inversión en
                            clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-6 mb-6">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Gestión de Redes</h5>
                        <p>Diseñamos y publicamos tus contenidos en tus redes: Facebook, Instagram, LinkedIn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-lg-6 mb-6">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Marketing Digital</h5>
                        <p>Optimizamos campañas para las plataformas pago: Google Ads, Facebook/Instagram Ads.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  mb-lg-6 mb-6">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Marketing Digital</h5>
                        <p>Optimizamos campañas para las plataformas pago: Google Ads, Facebook/Instagram Ads.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  ">
                <div class="card card-span h-100">
                    <div class="card-span-img"><span class="fab fa-gulp fs-6 text-danger"></span></div>
                    <div class="card-body pt-6 pb-4">
                        <h5 class="mb-2">Marketing Digital</h5>
                        <p>Optimizamos campañas para las plataformas pago: Google Ads, Facebook/Instagram Ads.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end of .container-->

</section>