{% extends 'base/base.html' %}

{% load static %}
{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    <h1> Titulo </h1>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

{% endblock %}

{% block extrajs %}
    <script>
        {#var xValues = ["H0811","H0882"];#}
        {#var yValues = [2021,2022];#}

        $(document).ready(function () {
            console.log("ready!");
            agregarData();
        });

        var xPrueba = [];
        var yPrueba = [];

        function agregarData() {
            $.ajax({
                type: 'POST',
                url: "{% url 'resultadosMediciones' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: 'agregar',
                    {#facultad: $("#facultades").val(),#}
                },
                success: function (response) {
                    var xLabel = JSON.parse(response["xLabel"]);
                    var yLabel = JSON.parse(response["yLabel"]);
                    for(var i=0; i<xLabel.length; i++){
                        xPrueba.push(xLabel[i]["fields"].codigo);
                    }
                    for(var i=0; i<yLabel.length; i++){
                        yPrueba.push(yLabel[i]["fields"].anho);
                        console.log(yLabel[i]["fields"].anho);
                    }
                    console.log(xPrueba);
                    console.log(yPrueba);
                    grafiquito.update();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }


        const data = {
            labels: xPrueba,
            datasets: [
                {
                    label: 'Dataset 1',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yPrueba
                }
            ]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                    }
                }
            },
        }

        var grafiquito = new Chart("myChart", config);
    </script>
{% endblock %}