{% load static %}
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Japiyop</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{% static 'js/config.navbar-vertical.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'project/auth-custom.css' %}" rel="stylesheet"/>

    {% block extrastyle %}{% endblock %}

  </head>
  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 flex-center no-gutters">
          <div class="col-lg-8 {% if '/jobhunter/registro' in request.path %}col-xxl-7{% else %}col-xxl-6{% endif %} py-3">
            <div class="card overflow-hidden z-index-1">
              <div class="card-body p-0">
                <div class="row no-gutters h-100">

                  {% block body %}{% endblock %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Model de pago realizado -->
      <div class="modal fade backdrop"  id="signinError" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="paymentModalLabel">Error al iniciar sesión</h5>
            </div>
            <div class="modal-body mt-3">
              <div class="row justify-content-center align-items-center">
                <i id="icon" class="fas fa-times fa-6x mb-3 text-danger"></i>
              </div>
              <div class="justify-content-center align-items-center">
                <p id="message" class="text-center" style="font-size: 15px"></p>
              </div>
            </div>
            <div class="modal-footer" style="border-top: 0">
              <a role="button" id="btnCreateRoom" class="btn btn-falcon-danger btn-sm mr-2" data-dismiss="modal">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/@fortawesome/all.min.js' %}"></script>
    <script src="{% static 'lib/stickyfilljs/stickyfill.min.js' %}"></script>
    <script src="{% static 'lib/sticky-kit/sticky-kit.min.js' %}"></script>
    <script src="{% static 'lib/is_js/is.min.js' %}"></script>
    <script src="{% static 'lib/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{% static 'js/theme.js' %}"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js'></script>
    <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js'></script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6089bdfc30ef9700113f6eb2&product=sop' async='async'></script>

    {% block extrajs %}{% endblock %}
  </body>
</html>