{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/select2/select2.min.css' %}" rel="stylesheet">
    <style>
        html {
            font-family: 'Open Sans', sans-serif;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: center;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload {

            width: 100%;
        }

        .wrapper {
            text-align: center;
        }

        .button {
            position: absolute;
            top: 50%;
        }

        img.center {
            display: block;
            margin: 0 auto;
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <div class="container-fluid">
        <div class="card p-5">
            <form action="{% url 'editarFacultad' id_facultad=facultad.pk %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        <h4>Editar facultad</h4>
                    </div>
                    <div class="col-2 ">
                        <a class="d-flex flex-row justify-content-end mt-2"
                           href="{% url 'listarFacultad' %}">
                            <div class="fas fa-reply mt-1 mr-2"></div>
                            <h5>Volver</h5>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <label for="name">Nombre:</label>
                            <input name="name" class="form-control p-3" id="name" type="text"
                                   placeholder="Ingrese el nombre de la facultad" value="{{ facultad.nombre }}"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="mt-3" for="exampleFormControlSelect1">Seleccione responsable:</label>
                        <select name="responsable" class="form-control selectpicker" id="exampleFormControlSelect1">
                            {% for responsable in ListaUsuarios %}
                                {% if id_responsable|add:"0" == responsable.pk %}
                                    <option value={{ responsable.pk }} selected>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                                {% else %}
                                    <option value={{ responsable.pk }}>{{ responsable.first_name }} {{ responsable.last_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Ingrese una imagen para la facultad</label>
                        <div class="input-group">
                            <input name="photo_name" type="text" class="form-control" readonly>
                            <span class="input-group-btn pb-3">
                                        <span class="btn btn-primary btn-file ml-3 " type="button">
                                            Buscar… <input name="photo" type="file" id="imgInp" accept="image/png,image/jpeg,image/jpg"/>
                                        </span>
                                    </span>
                        </div>
                        <img class="center" id='img-upload' style="height: 35%; width: 35%;" src="{% if facultad.foto %}{{ media_path }}{{ facultad.foto }}{% else %}{% static 'img/illustrations/3.png' %}{% endif %}"/>
                    </div>
                </div>
                <div class="wrapper">
                    <a class="btn btn-outline-primary mr-3 mb-1" type="button"
                       href="{% url 'listarFacultad' %}">Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary mr-3 mb-1" type="button">Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/select2/select2.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>

{% endblock %}