{% extends 'base/base.html' %}
{% load static %}
{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="container-fluid content-row">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row mt-4">
            {% for facultad in ListaFacultad %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card-group">
                        <div class="product card mr-4 mb-4" style="height: 16rem">
                            <div class="card-img-top imgbox" style="height: 15rem">
                                <a href="{% url 'listarFacultadxEsp' id_facultad=facultad.pk %}">
                                    <img class="" src="{{ media_path }}{{ facultad.foto.name }}/">
                                </a>
                            </div>
                            <div class="specifies card-body p-1">
                                <h5 class="card-title ml-2">{{ facultad.nombre }}</h5>
                                <hr class="divider">
                                <div class="row">
                                    <div class="col">
                                        <a class="float-right mr-2 pt-2 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Eliminar"
                                           href="{% url 'eliminarFacultad' id_facultad=facultad.pk %}"
                                           role="link">
                                            <div class="fas fa-power-off"></div>
                                        </a>
                                        <a class="float-right mr-3 tooltip-inner arrow" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Editar"
                                           href="{% url 'editarFacultad'  id_facultad=facultad.pk %}"
                                           role="link">
                                            <div class="fas fa-pen"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card-group service-work">
                    <a class="recent-work card mr-4 mb-4" href="{% url 'agregarFacultad' %}" style="height: 16rem">
                        <div class="nav-link icon-indicator" role="button">
                            <div class="mt-4" style="text-align: center;">
                                <span class="fas fa-plus fa-9x" style="text-align: center"></span>
                            </div>
                        </div>
                        <div class="recent-work-vertical-ruk card-img-overlay">
                            <div class="service-work-content">
                                <h5 class="card-title" style="text-align: center; margin-top: 11.4rem">Agregar
                                    Facultad</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
    </script>
{% endblock %}