{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4 id="Titulo">Crear Resultado del Estudiante</h4>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'listarResultado' %}">
                                <div class="row">
                                    <img class="img-fluid" style="height: 20px"
                                         src="https://image.flaticon.com/icons/png/512/60/60577.png">
                                    <h5>Volver</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">
                    <form action="{% url 'crearResultado' %}" method="post">
                        {% csrf_token %}
                        <div class="row p-1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="codigo">Código:</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input name="codigo" class="form-control" id="codigo" type="text"
                                           placeholder="Ingrese el código">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group ">
                                    <input name="descripcion" class="form-control" id="descripcion" type="text"
                                           placeholder="Ingrese una descripcion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-end">
                                <a class="btn btn-outline-primary m-1" type="button" href="{% url 'listarResultado' %}">Cancelar</a>
                                <input type="submit" class="btn btn-primary m-1" value="Registrar">
                            </div>
                        </div>
                    </form>
                    {% if registrado %}
                        <div class="alert alert-success m-2" role="alert">Resultado del estudiante registrado</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}