{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4 id="Titulo">Editar Plan de Resultado</h4>
                        </div>
                        <div class="col-2 ">
                            <a class="d-flex flex-row justify-content-end mt-2" href="{% url 'planDeResultado' %}">
                                <div class="fas fa-reply mt-1 mr-2"></div>
                                <h5>Volver</h5>
                            </a>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">
                    <form action="{% url 'editarPlanDeResultado' pk=plan %}" method="post">
                        {% csrf_token %}
                        <div class="row p-1">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="codigo">Código:</label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input name="codigo" class="form-control" id="codigo" type="text"
                                           placeholder="Ingrese el código">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1 ">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <textarea name="descripcion" id="descripcion" class="form-control"
                                              placeholder="Ingrese una descripcion"
                                              aria-label="With textarea" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 d-flex justify-content-end">
                                <a class="btn btn-outline-primary m-1" type="button" href="{% url 'planDeResultado'  %}">Cancelar</a>
                                <input type="submit" class="btn btn-primary m-1" value="Guardar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}