{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>

        .modal-side {
            display: inline-block;
            padding: 24px 32px;
            border: 0;
            text-decoration: none;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            letter-spacing: 2px;
            cursor: pointer;
            text-transform: uppercase;

        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <h5 class="mb-2 mb-md-0 text-white">{{plan.descripcion}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-5">
        <form action="{% url 'editarResultado' pk=resultado.pk %}" method="post">
            {% csrf_token %}
            <div class="row-12">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4>Resultado del Estudiante</h4>
                        </div>
                        <div class="col-2 ">
                            <a class="d-flex flex-row justify-content-end mt-2"
                               href="{% url 'resultadosActivos' %}">
                                <div class="fas fa-reply mt-1 mr-2"></div>
                                <h5>Volver</h5>
                            </a>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">
                    <div class="row p-1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="codigo">Código:</label>
                            </div>
                        </div>
                        <div class="col-md-10 mb-3">
                            <div class="form-group">
                                {% if request.user.rol_actual == 'Coordinador de facultad' %}
                                    <input name="codigo" class="form-control" id="codigo" type="text" value="{{ resultado.codigo }}" disabled>
                                {% else %}
                                    <input name="codigo" class="form-control" id="codigo" type="text" value="{{ resultado.codigo }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group ">
                                {% if request.user.rol_actual == 'Coordinador de facultad' %}
                                    <textarea name="descripcion" id="descripcion" class="form-control" aria-label="With textarea" rows="4" disabled>{{ resultado.descripcion }}</textarea>
                                {% else %}
                                    <textarea name="descripcion" id="descripcion" class="form-control" aria-label="With textarea" rows="4">{{ resultado.descripcion }}</textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.rol_actual != 'Coordinador de facultad' %}
                    <div class="col-md-12 d-flex justify-content-end mt-3">
                        <a class="btn btn-outline-primary m-1" type="button"
                           href="{% url 'resultadosActivos' %}">Cancelar</a>
                        <input type="submit" class="btn btn-primary m-1" value="Guardar">
                    </div>
                {% endif %}
            </div>
        </form>
        <div class="row-12">
            <div class="col-md-12">
                <h4>Indicadores del Resultado del Estudiante</h4>
            </div>
            <hr style="background-color: #0154ae;">
            <div class="col-12">
                {% if request.user.rol_actual != 'Coordinador de facultad' %}
                    <div class="btn btn-falcon-primary mb-2" href="#agregarIndicadorNuevo" data-toggle="modal"
                         role="button">
                        <span class="fa fa-plus"></span>
                    </div>
                {% endif %}
                <div class="dashboard-data-table">
                    <table class="table table-sm table-dashboard fs--1 data-table border-bottom"
                           data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                        <thead class="bg-200 text-900">
                        <tr>
                            <th class="sort pr-1 align-middle">N°</th>
                            <th class="sort pr-1 align-middle">Codigo</th>
                            <th class="sort pr-1 align-middle">Descripción</th>
                            <th class="sort pr-1 align-middle text-center">Acción</th>
                        </tr>
                        </thead>
                        <tbody id="purchases">
                        {% for indicador in listaIndicadores %}
                            <tr class="btn-reveal-trigger">
                                <th class="align-middle"> {{ forloop.counter }}</th>
                                <th class="align-middle">{{ indicador.codigo }}</th>
                                <td class="align-middle">{{ indicador.descripcion }}</td>
                                {% if request.user.rol_actual == 'Coordinador de facultad' %}
                                    <td class="align-middle text-center fs-0">
                                        <div class="row">
                                            <div class="col">
                                                <a href="{% url 'editarIndicador' pk=indicador.pk %}"
                                                   class="badge badge rounded-capsule badge-soft-info">Ver Detalle</a>
                                            </div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td class="align-middle text-right fs-0">
                                        <div class="row">
                                            <div class="col">
                                                <a href="{% url 'editarIndicador' pk=indicador.pk %}"
                                                   class="badge badge rounded-capsule badge-soft-info">Editar</a>
                                            </div>
                                            <div class="col">
                                                <button class="badge badge rounded-capsule badge-soft-danger"
                                                        onclick="indicadoresEliminar('{{ indicador.codigo }}',{{ indicador.pk }} )">
                                                        Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="agregarIndicadorNuevo" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":false,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar modal-side">
                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <h5 class="text-white">Agregar Indicador</h5>
                        <hr style="background-color: #f9fafd; width: 70%">
                    </div>
                    <form name="formAgregar" id="formAgregar">
                        <div class="d-flex justify-content-center">
                            <div class="col-12">
                                <label name="codigoI" for="codigoI"
                                       class="text-white">Codigo:</label>
                                <input type="text" class="form-control" id="codigoI" name="codigoI">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-12">
                                <label name="descripcionI" for="descripcionI"
                                       class="text-white mr-2">Descripción:</label>
                                <textarea type="text" class="form-control" id="descripcionI"
                                          name="descripcionI"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">

                            <div class="col-6">
                                <div class="d-flex justify-content-center mt-3">
                                    <button
                                            type="button" class="btn btn-primary  mb-1" onclick="agregar()">Agregar
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="btn btn-outline-light mb-1" type="button"
                                            data-dismiss="modal" aria-label="Close">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Indicador -->

    <div class="modal fade" id="eliminarIndicador" tabindex="-1" role="dialog" aria-labelledby="eliminarIndicadorLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarIndicadorLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarIndicador" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>

    <script>

        let pkEliminar;

        function indicadoresEliminar(codigoIndicador, pk) {
            console.log(codigoIndicador)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarActividadLabel">Se eliminará el indicador ' + codigoIndicador + '</h5>';
            $("#eliminarIndicadorLabel").html(data);
            $("#eliminarIndicador").modal('show');
            pkEliminar = pk;
        };

        $("#btnEliminarIndicador").on('click', function () {
            eliminarIndicador(pkEliminar);
            $("#eliminarIndicador").modal('hide');
        });

        function eliminarIndicador(indicadorpk) {
            console.log('dentro de eliminar')
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarIndicadorxResultado' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    indicadorpk: indicadorpk,
                },
                success: function (response) {
                    location.reload()
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function agregar() {
            $.ajax({
                type: 'POST',
                url: "{% url 'agregarIndicador' id_resultado=resultado.pk %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    codigoI: $("#codigoI").val(),
                    descripcionI: $("#descripcionI").val(),
                },
                success: function (response) {
                    location.reload()
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

{% endblock %}