{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae;
            font-family: "Montserrat";
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4 id="Titulo" style="font-family: Montserrat">Resultados del estudiante </h4>
                            <hr style="background-color: #0154ae;">
                        </div>
                    </div>

                    <div style="margin: 1%;">
                        <a href="{% url 'crearResultado' %}" class="btn btn-primary mr-1 mb-1">Añadir</a>
                    </div>
                    {% for resultado in resultados %}
                        <div style="margin: 1%;">
                            <div class="card text-white bg-primary">
                                <div class="card-body">
                                    <form action="{% url 'listarResultado' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row no-gutters">
                                            <div class="col-md-1">
                                                <h2 class="card-text text-white">{{ resultado.0.codigo }}</h2>
                                            </div>
                                            <div class="col-md-9 border-left border-right p-2">
                                                <p>{{ resultado.0.descripcion }}</p>
                                                {% if not resultado.1 %}
                                                    <hr style="background-color: #FFFFFF;">
                                                    <p>Nota: El resultado no tiene indicadores asociados,
                                                        si desea asociar indicadores, por favor dar click en editar</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2 ">
                                                <div class="d-flex justify-content-center">
                                                    <a href="{% url 'editarResultado' pk=resultado.0.pk %}"
                                                       class="btn btn-falcon-primary mr-1 mb-1">Editar</a>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="hidden" id="resultadoPk" name="resultadoPk"
                                                           value="{{ resultado.0.pk }}">
                                                    <button type="submit" class="btn btn-falcon-primary mr-1 mb-1">
                                                        Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}