{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}


    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <h5 class="mb-2 mb-md-0 text-white">Historial de plan de Resultados</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="col">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 pl-4 pr-4">
                        <div class="row">
                            <label for="cboFacultad">Facultad:</label>
                        </div>
                        <div class="row">
                            <select class="custom-select custom-select-sm mb-3" id="cboFacultad" name="cboFacultad"
                                    onchange="obtenerEspecialidades()">
                                {% for facultad in facultades %}
                                    <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 pl-4 pr-4">
                        <div class="row">
                            <label for="cboEspecialidad">Especialidad:</label>
                        </div>
                        <div class="row">
                            <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad"
                                    name="cboEspecialidad"
                                    onchange="listarPlanes()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-10 px-0" id="tituloEspecialidadMediciones"></div>
                </div>
                <div id="listadoMediciones"></div>
            </div>
        </div>
    </div>


    <!-- Modal Eliminar Medicion -->

    <div class="modal fade" id="eliminarMedicion" tabindex="-1" role="dialog" aria-labelledby="eliminarMedicionLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarMedicionLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarMedicion" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
    <script>

        var pkEliminar;

        $(document).ready(function () {
            obtenerEspecialidades();
        });

        function redirectCrearPlanResultado() {
            var pk_especialidad = $("#cboEspecialidad").val();
            document.location.href = "../../gestionarResultados/crearPlanResultado/" + pk_especialidad;
        }

        function redirectEditarHistorico(id_historico) {
            document.location.href = "../../gestionarResultados/editarPlanDeResultado/" + id_historico;
        }

        function redirectVerPlan(id_plan) {
            document.location.href = "../../gestionarResultados/resultados/" + id_plan;
        }

        $("#btnEliminarMedicion").on('click', function () {
            eliminarMedicion(pkEliminar);
            $("#eliminarMedicion").modal('hide');
        });

        function historicoEliminar(codigoMedicion, pk) {
            console.log(codigoMedicion)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarMedicionLabel">¿Deseas eliminar el plan de resultados:'+ '<br>' + codigoMedicion + '?</h5>';
            $("#eliminarMedicionLabel").html(data);
            $("#eliminarMedicion").modal('show');
            pkEliminar = pk;

            console.log(pkEliminar);
        };


        function eliminarMedicion(historicoPk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarPlanResultado' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    planResultadoPk: historicoPk,
                },
                success: function (response) {
                    listarPlanes();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function obtenerEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'obtenerEspecialidades' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    facultad: $("#cboFacultad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);

                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" onclick="listarPlanes()" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#cboEspecialidad").append(data);
                    }

                    listarPlanes();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function activarPlan(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'activarPlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    planResultadoPk: pk,
                    especialidad: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    listarPlanes();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function desactivarPlan(pk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'desactivarPlan' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    planResultadoPk: pk,
                    especialidad: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    listarPlanes();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarPlanes() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarPlanResultado'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidad: $("#cboEspecialidad").val(),

                },
                success: function (response) {
                    var instance = JSON.parse(response['planes']);
                    var i = 0;
                    var numero = instance.length;
                    var data = '';
                    var data2 = '';
                    for (i = 0; i < numero; i++) {
                        data += (
                            '<div class="card my-3 overflow-hidden" style="min-width: 12rem">' +
                            '<div class="bg-holder bg-card"' + 'style="background-image:url(' + '{% static '/img/illustrations/corner-3.png' %}' + ');">' + '</div>' +
                            '<div class="card-body position-relative">' +
                            '<h5>' + instance[i]["fields"].codigo
                        );
                        if (instance[i]["fields"].estado == '1') {
                            data += (
                                '<span class="badge badge-soft-success rounded-capsule ml-2 mt-1">ACTIVO</span></h5>'
                            );
                        } else {
                            data += (
                                '<span class="badge badge-soft-secondary rounded-capsule ml-2 mt-1">INACTIVO</span></h5>'
                            );
                        }

                        data += (
                            '<div class="my-1">' + instance[i]["fields"].descripcion + '</div>');

                        if (instance[i]["fields"].estado == '1') {
                            data += (
                                '<div class="btn btn-falcon-primary mr-2" onclick="redirectVerPlan(' + instance[i]["pk"] + ')">Ver Plan de Resultado' +
                                '<span class="fa fa-eye ml-2"></span></div>');
                        } else {
                            data += (
                                '<div class="btn btn-falcon-primary mr-2" onclick="redirectVerPlan(' + instance[i]["pk"] + ')">Ver Plan de Resultado' +
                                '<span class="fa fa-eye ml-2 "></span></div>');
                        }

                        data += (
                            '</div>' +
                            '</div>' +
                            '</div>'

                        )
                    }

                    data2 = ('<h5 class="ml-3 mt-2">Planes de Resultado de ' + $("#cboEspecialidad option:selected").text() + '</h5>');
                    $("#tituloEspecialidadMediciones").html(data2);
                    $("#listadoMediciones").html(data);

                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response)
                }
            });
        }


    </script>
{% endblock %}