{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <input id="idPlan" name="idPlan" type="hidden">
    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <h5 class="mb-2 mb-md-0 text-white">Resultados de estudiante</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 pl-4 pr-4">
                            <div class="row">
                                <label for="cboEspecialidad">Especialidad:</label>
                            </div>
                            <div class="row">
                                <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad"
                                        name="cboEspecialidad"
                                        onchange="listarResultados()">
                                    {% for especialidad in especialidades %}
                                        <option value={{ especialidad.pk }}>{{ especialidad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-10 px-0" id="tituloEspecialidadMediciones"></div>

                        {% if request.user.rol_actual != 'Coordinador de facultad' %}
                            <div class="col-12 ">
                                <div class="d-flex justify-content-end">
                                    <a href="" data-toggle="modal" data-target="#nuevaVersion"
                                        type="button">
                                        <span id="btnNuevaVersion" class="btn btn-primary mr-1">
                                            Nueva versión
                                        </span>
                                    </a>
                                    <a id="btnHistoricos" class="btn btn-primary mr-1">
                                    Históricos
                                    </a>
                                    <span class="btn btn-primary" onclick="crearResultado()">Crear</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="listadoResultados"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Resultado -->

    <div class="modal fade" id="eliminarResultado" tabindex="-1" role="dialog" aria-labelledby="eliminarResultadoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarResultadoLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarResultado" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light" id="tituloError">
                    <h5 class="modal-title label-primary" id="errorModalLabel">¡Éxito!</h5>
                </div>
                <div class="modal-body bg-light" id="mensajeError">
                    <p>Se ha enviado un mensaje a su correo para reestablecer la contraseña</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Nueva Version -->

    <div class="modal fade" id="nuevaVersion" tabindex="-1" role="dialog" aria-labelledby="nuevaVersioLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaVersioLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button id="btnDuplicar" class="btn btn-primary btn-sm" type="button">Usar un historico</button>
                    <button id="btnNuevoCero" class="btn btn-primary btn-sm" type="button">Empezar de 0</button>
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>

        var pkEliminar;

        $(document).ready(function () {
            listarResultados();
        });

        function crearResultado(){
            $.ajax({
                type: 'POST',
                url: "{% url 'validarCrear' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    idPlan: $('#idPlan').val(),
                },
                success: function (response) {
                    if (response.tipo == "1") {
                        $('#tituloError').empty()
                        $('#tituloError').append(`<h5 class="modal-title label-primary" id="errorModalLabel"><b><i>Alerta</i></b></h5>`)
                        $('#mensajeError').empty()
                        $('#mensajeError').append(`<p>Seleccione <b><i>Nueva versión</i></b> para crear una nueva versión de resultados del estudiante</p>`)
                        $("#successModal").modal({backdrop: 'static', keyboard: false, show: true});
                    } else if (response.tipo == "3"){
                        document.location.href = "../../gestionarResultados/crear/" +$('#idPlan').val() ;
                    }
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        {% comment %} function redirectCrearResultado() {
             document.location.href = "../../gestionarResultados/crear/" + {{ plan.pk }};
         }{% endcomment %}

        function redirectEditarResultado(id_resultado) {

            document.location.href = "../../gestionarResultados/editar/" + id_resultado;
        }

        $("#btnEliminarResultado").on('click', function () {
            eliminarResultado(pkEliminar);
            $("#eliminarResultado").modal('hide');
        });

        $("#btnDuplicar").on('click', function () {
           document.location.href = "../../gestionarResultados/duplicar/"
        });

        function resultadosEliminar(codigoResultado, pk) {
            console.log(codigoResultado)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarResultadoLabel">¿Deseas elminar ' + codigoResultado + '?</h5>';
            $("#eliminarResultadoLabel").html(data);
            $("#eliminarResultado").modal('show');
            pkEliminar = pk;
        };


        function eliminarResultado(resultadopk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarResultado' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    resultadopk: resultadopk,
                },
                success: function (response) {
                    listarResultados();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function listarResultados() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarResultados'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidad: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response['resultados']);
                    var instance2 = JSON.parse(response['tiene_niveles']);
                    let id = JSON.parse(response['idPlan'])
                    $('#idPlan').val(id)
                    console.log(instance);
                    var i = 0;
                    var numero = instance.length;
                    var data = '';
                    var data2 = '';
                    for (i = 0; i < numero; i++) {
                        data += (
                            '<div class="card my-3 overflow-hidden" style="min-width: 12rem">' +
                            '<div class="bg-holder bg-card"' + 'style="background-image:url(' + '{% static '/img/illustrations/corner-2.png' %}' + ');">' + '</div>' +
                            '<div class="card-body position-relative">' +
                            '<h5>' + instance[i]["fields"].codigo + '</h5>' + '<div class="my-1">' + instance[i]["fields"].descripcion + '</div>'
                        );
                        if (instance2[i] == false) {
                            data += (
                                '<div class="alert alert-warning" role="alert">Nota: El resultado no tiene indicadores asociados.' +
                                '                                Dar click en editar si desea asociar indicadores.</div>')
                        }

                        data += (
                            '                        <button class="btn btn-falcon-primary mr-1 my-1" onclick="redirectEditarResultado(' + instance[i]["pk"] + ')">Ver Detalle</button>' +
                            '                    </div>' +
                            '                </div>' +
                            '        </div>')
                    }
                    data2 = '<h5>' + $("#cboEspecialidad option:selected").text() + '</h5>';
                    $("#tituloEspecialidadResultados").html(data2);
                    $("#listadoResultados").html(data);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
        $("#btnNuevoCero").on('click', function (e) {
            e.preventDefault();
            var pk_especialidad = $("#cboEspecialidad").val();
            document.location.href = "../../gestionarResultados/crearPlanResultado/" + pk_especialidad;
        });

        $("#btnHistoricos").on('click', function (e) {
            e.preventDefault();
            var pk_especialidad = $("#cboEspecialidad").val();
            document.location.href = "../../gestionarResultados/planDeResultado/" + pk_especialidad;
        });

    </script>
{% endblock %}