{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card mb-3 bg-card-gradient">
        <div class="card-body ">
            <div class="row justify-content-between align-items-center">
                <div class="col-12">
                    <h5 class="mb-2 mb-md-0 text-white">{{plan.descripcion}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4>Resultados del estudiante</h4>
                        </div>
                        <div class="col-2 ">
                            <a class="d-flex flex-row justify-content-end mt-2" href="{% url 'planDeResultado' pk=especialidad.pk %}">
                                <div class="fas fa-reply mt-1 mr-2"></div>
                                <h5>Volver</h5>
                            </a>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">

                    {% if request.user.rol_actual != 'Coordinador de facultad' %}

                    {% endif %}
                    <div id="listadoResultados"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Resultado -->

    <div class="modal fade" id="eliminarResultado" tabindex="-1" role="dialog" aria-labelledby="eliminarResultadoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarResultadoLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarResultado" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
    <script>

        var pkEliminar;

        $(document).ready(function () {
            listarResultados();
        });

        function redirectCrearResultado() {
            document.location.href = "../../gestionarResultados/crear/" + {{ plan.pk }};
        }

        function redirectVerResultado(id_resultado) {

            document.location.href = "../../gestionarResultados/visualizarResultado/" + id_resultado;
        }

        $("#btnEliminarResultado").on('click', function () {
            eliminarResultado(pkEliminar);
            $("#eliminarResultado").modal('hide');
        });

        function resultadosEliminar(codigoResultado, pk) {
            console.log(codigoResultado)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarResultadoLabel">¿Deseas elminar ' + codigoResultado + '?</h5>';
            $("#eliminarResultadoLabel").html(data);
            $("#eliminarResultado").modal('show');
            pkEliminar = pk;
        };


        function eliminarResultado(resultadopk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarResultado' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    resultadopk: resultadopk,
                },
                success: function (response) {
                    listarResultados();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function listarResultados() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarResultadosHistoricos'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    planpk: {{ plan.pk }},
                },
                success: function (response) {
                    var instance = JSON.parse(response['resultados']);
                    var instance2 = JSON.parse(response['tiene_niveles']);
                    console.log(instance);
                    var i = 0;
                    var numero = instance.length;
                    var data = '';
                    var data2 ='';
                    for (i = 0; i < numero; i++) {
                        data += (
                            '<div class="card my-3 overflow-hidden" style="min-width: 12rem">' +
                            '<div class="bg-holder bg-card"' + 'style="background-image:url(' + '{% static '/img/illustrations/corner-2.png' %}' + ');">' + '</div>' +
                            '<div class="card-body position-relative">' +
                            '<div class="row justify-content-around"><div class="col"><h5>' + instance[i]["fields"].codigo  + '</h5></div>' +
                            '<div class="d-flex flex-row-reverse">'+
                            '<button class="btn btn-falcon-primary mr-1 my-1" onclick="redirectVerResultado(' + instance[i]["pk"] + ')"><span class="fa fa-eye"></span></button>' +
                            '</div>'+'</div>' +
                            '<div class="my-1">' + instance[i]["fields"].descripcion + '</div>'
                            );
                        if (instance2[i]==false){
                            data +=(
                                '<div class="alert alert-warning" role="alert">Nota: El resultado no tiene indicadores asociados.'+
                        '                                Dar click en editar si desea asociar indicadores.</div>')
                        }

                        data += (
                            '                    </div>' +
                            '                </div>' +
                            '        </div>' )
                    }
                    data2 = '<h5>' + $("#cboEspecialidad option:selected").text() + '</h5>';
                    $("#tituloEspecialidadResultados").html(data2);
                    $("#listadoResultados").html(data);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}