{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae
        }

        p {
            line-height: 20%;
            text-align: center;
            font-family: "Montserrat";
        }
    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <form action="{% url 'editarNiv' pk=nivel.pk %}" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <form>
                <div class="card p-5">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-10">
                            <h4 id="Titulo" style="font-family: Montserrat">Editar Nivel</h4>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'niveles' %}" style="font-family: Roboto"><h5 id="Retroceder">
                                <img class="img-fluid" style="height: 20px"
                                     src="https://image.flaticon.com/icons/png/512/60/60577.png">
                                <u>Volver</u>
                            </h5></a>
                        </div>
                    </div>
                    <hr style="background-color: #0154ae;">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <label for="name">Nombre:</label>
                                <input class="form-control p-3" type="text" name="name" id="name"
                                       value="{{ nivel.name }}">
                            </div>
                        </div>
                        <p></p>
                        <div class="container-fluid">
                            <div class="row">
                                <label for="value">Valor:</label>
                                <input class="form-control p-3" type="value" name="value" id="value"
                                       value="{{ nivel.value }}">
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="d-inline-flex  flex-row justify-content-center">
                        <div class="d-flex p-2">
                            <a class="btn btn-outline-primary" type="button"
                               href="{% url 'niveles' %}">Cancelar
                            </a>
                        </div>
                        <div class="d-flex p-2">
                            <input type="submit" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </form>
{% endblock %}