{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae
        }

        p {
            line-height: 20%;
            text-align: center;
            font-family: "Montserrat";
        }

        label {
            font-family: "Montserrat";
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}


    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4 id="Titulo" style="font-family: Montserrat">Niveles de desempeño </h4>
                            <hr style="background-color: #0154ae;">
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mr-2">
                                <label for="cboFacultad">Facultad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboFacultad" name="cboFacultad"
                                        onchange="filtrarEspecialidades()">
                                    {% for facultad in facultades %}
                                        <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="cboEspecialidad">Especialidad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad"
                                        name="cboEspecialidad"
                                        onchange="listarNiveles()">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="tituloEspecialidadNiveles"></div>

                    <hr style="background-color: #0154ae;">

                    <div class="btn btn-falcon-primary mb-2" href="#agregarNivelNuevo" data-toggle="modal"
                         role="button">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="dashboard-data-table">
                        <table class="table table-sm fs--1 border-bottom"
                               data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                            <thead class="bg-200 text-900">
                            <tr>
                                <th class="sort pr-1 align-middle">N°</th>
                                <th class="sort pr-1 align-middle">Nombre</th>
                                <th class="sort pr-1 align-middle">Valor</th>
                                <th class="sort pr-1 align-middle text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody id="tablaNiveles">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal crear Nivel -->
    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="agregarNivelNuevo" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":false,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" style="opacity: 0.90" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar" style="background-color: #017ECD;">

                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <h5 style="color: #f9fafd; font-family:Montserrat">Agregar Nivel</h5>
                        <hr style="background-color: #f9fafd; width: 70%">
                    </div>

                    <div class="row d-flex justify-content-center m-2">
                        <form name="formAgregar" id="formAgregar">
                            <div class="form-group row">
                                <label for="nombre"
                                       class="col-sm-4 col-form-label text-white">Nombre:</label>
                                <input type="text" class="form-control col-sm-8 " id="nombre" name="nombre">
                            </div>
                            <br>
                            <div class="form-group row">
                                <label for="valor"
                                       class="col-sm-4 col-form-label text-white">Valor:</label>
                                <input type="value" class="form-control col-sm-8 " id="valor" name="valor">
                            </div>
                            <br>
                            <div class="form-group row m-3 p-2">
                                <div class="col-6">
                                    <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal" aria-label="Close">Cancelar
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button
                                            type="button" class="btn btn-primary" onclick="crearNivel()">Agregar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Nivel -->
    <div class="modal fade" id="eliminarNivel" tabindex="-1" role="dialog" aria-labelledby="eliminarNivelLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarNivelLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarNivel" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>

    <script>

        var pkEliminarN;

        $(document).ready(function () {
            filtrarEspecialidades();
        });

        function redirectEditarNivel(id_nivel) {
            document.location.href = "../../gestionarNiveles/editar/" + id_nivel;
        }

        $("#btnEliminarNivel").on('click', function () {
            eliminarNivel(pkEliminarN);
            $("#eliminarNivel").modal('hide');
        });

        function nivelesEliminar(codigoNivel, pk) {
            data = '<h5 class="modal-title" id="eliminarNivelLabel">Se eliminará el nivel: ' + codigoNivel + '</h5>';
            $("#eliminarNivelLabel").html(data);
            $("#eliminarNivel").modal('show');
            pkEliminarN = pk;
        };


        function eliminarNivel(nivelpk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarNivel' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    nivelpk: nivelpk,
                },
                success: function (response) {
                    listarNiveles();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function filtrarEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'filtrarEspecialidades' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    facultad: $("#cboFacultad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);

                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#cboEspecialidad").append(data);
                    }

                    listarNiveles();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarNiveles() {
            console.log('dentro de listar niveles')
            console.log($("#cboEspecialidad").val())
            $.ajax({
                type: 'POST',
                url: "{% url 'listarNiveles' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidadpk: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response['niveles']);
                    console.log(instance);

                    var i = 0;
                    var j = 1;
                    var numero = instance.length;
                    var data = '';
                    for (i = 0; i < numero; i++,j++) {
                        data += (
                        '        <tr class="btn-reveal-trigger">'+
                        '            <th class="align-middle">  '+ j +'  </th>'+
                        '            <th class="align-middle">'+ instance[i]["fields"].nombre +'</th>'+
                        '            <td class="align-middle">'+ instance[i]["fields"].valor  +'</td>'+
                        '            <td class="align-middle text-right fs-0">'+
                        '                    <div class="row">'+
                        '                        <div class="col">'+
                        '                         <button class="badge badge rounded-capsule badge-soft-info" onclick="redirectEditarNivel(' + instance[i]["pk"] + ')">Editar</button>' +
                        '                        </div>'+
                        '                        <div class="col">'+
                        '                        <button class="badge badge rounded-capsule badge-soft-danger" onclick="nivelesEliminar(\'' + instance[i]["fields"].nombre + '\',' + instance[i]["pk"] + ')">Eliminar</button>' +
                        '                        </div>'+
                        '                    </div>'+
                        '            </td>'+
                        '        </tr>'
                        )
                    }

                    data2 = '<h5>' + $("#cboEspecialidad option:selected").text() + '</h5>';
                    $("#tituloEspecialidadNiveles").html(data2);
                    $("#tablaNiveles").html(data);
                },
                error: function (response) {
                    console.log('Ocurrio un error')
                    alert(response["responseJSON"]["error"]);
                }
            });
        }


        function crearNivel() {
            $.ajax({
                type: 'POST',
                url: "{% url 'crearNivel' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    nombreNivel: $("#nombre").val(),
                    valorNivel: $("#valor").val(),
                    especialidadpk: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["nuevoNivel"]);
                    var fields = instance[0]["fields"];
                    $("#nombre").val('')
                    $("#valor").val('')
                    $("#agregarNivelNuevo").modal('hide')
                    {% comment %}console.log(instance);{% endcomment %}
                    listarNiveles();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

{% endblock %}