{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card p-5">
        <form action="{% url 'crearActividad' %}" method="post">
            {% csrf_token %}
            <div class="row-12">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4>Registrar actividad de mejora</h4>
                        </div>
                        {% comment %}<div class="col-2 ">
                            <a class="d-flex flex-row justify-content-end mt-2" href="{% url 'resultados' %}">
                                <div class="fas fa-reply mt-1 mr-2"></div>
                                <h5>Volver</h5>
                            </a>
                        </div>{% endcomment %}
                    </div>
                    <hr style="background-color: #0154ae;">
                    <div class="row p-1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="codigo">Código:</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input name="codigo" class="form-control" id="codigo" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group ">
                                    <textarea name="descripcion" id="descripcion" class="form-control"
                                              aria-label="With textarea" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-end mt-3">
                   {% comment %} <a class="btn btn-outline-primary m-1" type="button"
                       href="{% url 'resultados' %}">Cancelar</a>{% endcomment %}
                    <input type="submit" class="btn btn-primary m-1" value="Guardar">
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block extrajs %}

{% endblock %}