{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: center;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <div class="container-fluid">
        <div class="card p-5">
            <form action="{% url 'editarEvidenciaActividad' pk=evidencia.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        <h4>Editar evidencia</h4>
                    </div>
                    <div class="col-2 ">
                        <a class="d-flex flex-row justify-content-end mt-2"
                           href="{% url 'editarActividad' pk=id_actividad %}">
                            <div class="fas fa-reply mt-1 mr-2"></div>
                            <h5>Volver</h5>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row p-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="concepto">Concepto:</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input name="concepto" class="form-control" id="concepto" type="text"
                                    value="{{ evidencia.concepto }}">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="descripcion">Descripción:</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <textarea name="descripcion" id="descripcion" class="form-control"
                                              aria-label="With textarea" rows="4">{{ evidencia.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row p-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nombre_archivo">Archivo: </label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input name="nombre_archivo" id="nombre_archivo" type="text" class="form-control"
                                          value="{{ evidencia.archivo.name }}" readonly>
                                    <span class="input-group-btn pb-3">
                                        <span class="btn btn-primary btn-file ml-3 " type="button">Seleccionar
                                        <input name="archivo" id="archivo" type="file" required/>
                                        </span>
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <a class="btn btn-outline-primary m-1" type="button"
                               href="{% url 'editarActividad' pk=id_actividad %}">Cancelar</a>
                            <input type="submit" class="btn btn-primary m-1" value="Guardar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block extrajs %}

    <script>

        $(document).ready(function () {

            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#archivo").change(function () {
                readURL(this);
            });

        });
    </script>

{% endblock %}