{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        hr {
            height: .5px;
            background-color: #2F5496;
        }

        .iconSize {
            font-size: 23px;
        }

        .fa-pen:hover {
            color: darkblue;
        }

        .fa-power-off:hover {
            color: darkblue;
        }

        .iconColorNBorder {
            color: rgba(1, 126, 205, 1);
            z-index: 9999;
        }

        .equal {
            margin-top: 20px;
        }

        .service-wrapper .service-footer {
            max-width: 720px;
        }

        .service-work.card {
            border-radius: 10px !important;
            cursor: pointer;
        }

        .service-work .service-work-vertical {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .service-work .service-work-vertical:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .service-work .service-work-vertical-ruk:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

        .recent-work.card {
            border-radius: 10px !important;
        }

        .recent-work .recent-work-vertical {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(1, 126, 205, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical-ruk {
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(30, 144, 255, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
            background-size: 300% 300%;
            background-position: 0% 100%;
            transition: .5s;
            cursor: pointer;
        }

        .recent-work .recent-work-vertical:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical:hover * {
            color: white;
            transition: .5s;
        }

        /*¨*/
        .recent-work .recent-work-vertical-ruk:hover {
            background-position: 0% 0%;
            transition: .5s;
        }

        .recent-work .recent-work-vertical-ruk:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical-ruk:hover * {
            color: white;
            transition: .5s;
        }


        .team-member:hover .team-member-img {
            padding: 10px !important;
        }

        /* Footer */
        footer a.text-light:hover {
            color: #bfbfbf !important;
            transition-duration: 0.15s;
        }


        .product {

            width: 250px;
            height: 250px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
            border-radius: 5px;
            background: white;
            overflow: hidden
        }

        .product .imgbox {
            height: 100%;
            box-sizing: border-box
        }

        .product .imgbox img {
            display: block;
            width: 100%;
            height: 90%;
        }

        .specifies {
            position: absolute;
            width: 100%;
            bottom: -75px;
            background: white;
            padding: 10px;
            transition: .5s
        }

        .product:hover .specifies {
            bottom: 0
        }

        .service-work-content h5 {
            color: rgba(1, 126, 205, 1) !important;
        }

        .specifies h5 {
            margin: 0;
            padding: 0;
            color: rgba(1, 126, 205, 1);
        }

        .zoom {
            background-color: rgba(255, 255, 255, 0);
            transition: transform .3s; /* Animation */
            width: 200px;
            height: 200px;
        }

        .zoom:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    {#AQUI COLOQUEN EL CÓDIGO#}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-md-12">
                    <h3 class="mb-0"> Plan de Mejora </h3>
                    <hr>
                </div>
            </div>

            <div class="d-flex justify-content-between m-3">
                <div class="form-group">
                    <label for="FormControlSelect1">Facultad:</label>
                    <select id="facultades" name="facultades" class="form-control" id="FormControlSelect1"
                            onchange="listarEspecialidades()">
                        {% for facultad in facultades %}
                            <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="especialidades">Especialidades:</label>
                    <select id="especialidades" name="especialidades" class="form-control" id="FormControlSelect1"
                            onchange="listarCursos()">
                    </select>
                </div>

            </div>

            <h4 class="mb-0"> Propuesta de Mejora </h4>
            <hr>

            <div class="d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-12">
                    <div class="row">
                        <div id="selectEspe" class="col-md-12">
                        </div>
                    </div>
                    <div id="cursos" class="row">
                        <div id="nuevo" class="col-md-4 equal">
                            <div class="d-flex justify-content-center">
                                <form class="product recent-work card" action="{% url 'crearPlanMejora' pk='0' %}"
                                      method="post" style="height: 250px; width: 250px;">
                                    {% csrf_token %}
                                    <input id="hid" type="hidden" name="operacion" value="entrada">
                                    <button type="submit" class="btn btn-outline-light">
                                        <div class="nav-link icon-indicator" role="button">
                                            <div class="mt-4" style="text-align: center;">
                                                <span class="fas fa-plus fa-9x" style="text-align: center"></span>
                                            </div>
                                        </div>
                                        <div class="recent-work-vertical-ruk card-img-overlay">
                                            <div class="service-work-content">
                                                <h5 class="card-title" style="text-align: center; margin-top: 11.4rem">
                                                    Agregar Propuesta</h5>
                                            </div>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script>

        $(document).ready(function () {
            console.log("ready!");
            listarEspecialidades();
        });

        function listarEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarPlanMejora' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: 'listEspe',
                    facultad: $("#facultades").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" onclick="listarCursos()" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#especialidades").append(data);
                    }
                    listarCursos();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarCursos() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarPlanMejora'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    operacion: 'listCur',
                    especialidad: $("#especialidades").val(),
                    estado: $("#estado").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);
                    var instance1 = JSON.parse(response["resp1"]);
                    $("#esp").remove();
                    data = '<input id="esp" type="hidden" name="especialidad" value="' + $("#especialidades").val() + '">';
                    $("#hid").after(data);
                    $("#selectEspeTit").remove();

                    data = '<div id="selectEspeTit">' +
                        '   <h4>' + $("#facultades option:selected").text() + ' - ' + $("#especialidades option:selected").text() + '</h4>' +
                        '   <hr>' +
                        '</div>';
                    $("#selectEspe").append(data);
                    $(".curso").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<div class="curso col-md-4 equal">' +
                            '   <div class="d-flex justify-content-center">' +
                            '       <div class="product card">' +
                            '           <div class="card-img-top imgbox" style="height: 15rem">' +
                            '               <a href="#">' +
                            '                    <img class="" src="{% static 'img/illustrations/3.png' %}">' +
                            '                </a>' +
                            '            </div>' +
                            '           <div class="specifies">' +
                            '               <h5 class="card-title ml-2" style="text-align: left">' + instance1[instance.length - i - 1]["fields"].nombre + '</h5>' +
                            '               <hr>' +
                            '               <div class="row d-flex justify-content-end">' +
                            '                   <form class="p-2" action="/gestionarPlanMedicion/crear/' + instance[instance.length - i - 1]["pk"] + '" method="post">' +
                            '                       {% csrf_token %}' +
                            '                       <input type="hidden" name="operacion" value="entrada">' +
                            '                       <input type="hidden" name="especialidad" value="' + $("#especialidades").val() + '">' +
                            '                       <button class="btn btn-falcon-primary nav-link icon-indicator fas fa-pen iconSize iconColoNBorder" style="text-align: center;"></button>' +
                            '                   </form>' +
                            '                   <form class="p-2 pr-3" action="{% url 'listarPlanMedicion' %}" method="post">' +
                            '                       {% csrf_token %}' +
                            '                       <input type="hidden" name="operacion" value="estado">' +
                            '                       <input type="hidden" name="planpk" value= "' + instance[instance.length - i - 1]["pk"] + '"' +
                            '                       <input type="hidden" name="especialidad" value="' + $("#especialidades").val() + '">' +
                            '                       <button class="btn btn-falcon-primary nav-link icon-indicator fas fa-power-off iconSize iconColorNBorder" style="text-align: center;"></button>' +
                            '                   </form>' +
                            '               </div>' +
                            '           </div>' +
                            '       </div>' +
                            '   </div>' +
                            '</div>';
                        $("#cursos").prepend(data);
                    }
                    console.log('terminado');
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}