{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae;
            font-family: "Montserrat";
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4 id="Titulo" style="font-family: Montserrat">Plan de Mejora</h4>
                            <hr style="background-color: #0154ae;">
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mr-2">
                                <label for="cboFacultad">Facultad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboFacultad" name="cboFacultad"
                                        onchange="obtenerEspecialidades()">
                                    {% for facultad in facultades %}
                                        <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="cboEspecialidad">Especialidad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad"
                                        name="cboEspecialidad"
                                        onchange="listarResultados()">

                                </select>
                            </div>
                        </div>
                    </div>

                    <h3>Propuesta de Mejora</h3>

                    <hr style="background-color: #0154ae;">
                    <div style="margin: 1%;">
                        <span class="btn btn-primary" onclick="redirectCrearResultado()">Crear</span>
                    </div>
                    <div id="listadoResultados"></div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Resultado -->

    <div class="modal fade" id="eliminarResultado" tabindex="-1" role="dialog" aria-labelledby="eliminarResultadoLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarResultadoLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarResultado" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
    <script>

        var pkEliminar;

        $(document).ready(function () {
            obtenerEspecialidades();
            listarResultados();
        });

        function redirectCrearResultado() {
            var pk_especialidad = $("#cboEspecialidad").val();
            document.location.href = "../../gestionarResultados/crear/" + pk_especialidad;
        }

        function redirectEditarResultado(id_resultado) {

            document.location.href = "../../gestionarResultados/editar/" + id_resultado;
        }

        $("#btnEliminarResultado").on('click', function () {
            eliminarResultado(pkEliminar);
            $("#eliminarResultado").modal('hide');
        });

        function resultadosEliminar(codigoResultado, pk) {
            console.log(codigoResultado)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarResultadoLabel">Se eliminará el resultado ' + codigoResultado + '</h5>';
            $("#eliminarResultadoLabel").html(data);
            $("#eliminarResultado").modal('show');
            pkEliminar = pk;
        };


        function eliminarResultado(resultadopk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarResultado' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    resultadopk: resultadopk,
                },
                success: function (response) {
                    listarResultados();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function obtenerEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'obtenerEspecialidades' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    facultad: $("#cboFacultad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);

                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" onclick="listarResultados()" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#cboEspecialidad").append(data);
                    }

                    listarResultados();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarResultados() {
            $.ajax({
                type: 'POST',
                url: "{% url 'listarResultados'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidad: $("#cboEspecialidad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response['resultados']);
                    var instance2 = JSON.parse(response['tiene_niveles']);
                    console.log(instance);
                    var i = 0;
                    var numero = instance.length;
                    var data = '';
                    var data2 ='';
                    for (i = 0; i < numero; i++) {
                        data += (
                            '<div style="margin: 1%;">' +
                            '   <div class="card text-white bg-primary">' +
                            '        <div class="card-body">' +
                            '                <div class="row no-gutters">' +
                            '                    <div class="col-md-1">' +
                            '                        <h2 class="card-text text-white">' + instance[i]["fields"].codigo + '</h2>' +
                            '                    </div>' +
                            '                    <div class="col-md-9 border-left border-right p-2">' +
                            '                        <p>' + instance[i]["fields"].descripcion + '</p>')
                        if (instance2[i]==false){
                            data +=(
                        '                            <hr style="background-color: #FFFFFF;">'+
                        '                            <p>Nota: El resultado no tiene indicadores asociados.'+
                        '                                Dar click en editar si desea asociar indicadores.</p>')
                        }

                        data += (
                            '                    </div>' +
                            '                    <div class="col-md-2 ">' +
                            '                        <div class="d-flex justify-content-center">' +
                            '                        <button class="btn btn-falcon-primary mr-1 mb-1" onclick="redirectEditarResultado(' + instance[i]["pk"] + ')">Editar</button>' +
                            '                        </div>' +
                            '                        <div class="d-flex justify-content-center">' +
                            '                        <button class="btn btn-falcon-primary mr-1 mb-1" onclick="resultadosEliminar(\'' + instance[i]["fields"].codigo + '\',' + instance[i]["pk"] + ')">Eliminar</button>' +
                            '                        </div>' +
                            '                    </div>' +
                            '                </div>' +
                            '        </div>' +
                            '    </div>' +
                            '</div>')
                    }
                    data2 = '<h5>' + $("#cboEspecialidad option:selected").text() + '</h5>';
                    $("#tituloEspecialidadResultados").html(data2);
                    $("#listadoResultados").html(data);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}