{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <style>
        #Titulo {
            color: #0154ae;
        }

    </style>
{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4 id="Titulo" style="font-family: Montserrat">Plan de Mejora </h4>
                            <hr style="background-color: #0154ae;">
                        </div>
                    </div>

                    <div class="col-12 mb-3" hidden>
                        <div class="d-flex flex-row align-items-center" >
                            <div class="mr-2">
                                <label for="cboFacultad">Facultad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboFacultad" name="cboFacultad"
                                        onchange="filtrarEspecialidades()">
                                    {% for facultad in facultades %}
                                        <option value={{ facultad.pk }}>{{ facultad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="cboEspecialidad">Especialidad:</label>
                                <select class="custom-select custom-select-sm mb-3" id="cboEspecialidad"
                                        name="cboEspecialidad"
                                        onchange="listarPropuestas()">

                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="tituloEspecialidadPropuesta"></div>

                    <hr style="background-color: #0154ae;">
                    <div style="margin: 1%;">
                        <span class="btn btn-primary" onclick="redirectCrearPropuesta()">Crear</span>
                    </div>
                    <div id="listadoPropuestas"></div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Propuesta -->

    <div class="modal fade" id="eliminarPropuesta" tabindex="-1" role="dialog" aria-labelledby="eliminarPropuestaLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarPropuestaLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarPropuesta" class="btn btn-primary btn-sm" type="button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extrajs %}
    <script>

        var pkEliminar;

        $(document).ready(function () {
            filtrarEspecialidades();
        });


        function redirectCrearPropuesta() {

            var pk_especialidad = $("#cboEspecialidad").val();

            document.location.href = "../../gestionarPlanMejora/crear/" + {{ planmejora.pk }};
        }

        function redirectEditarPropuesta(id_propuesta) {

            document.location.href = "../../gestionarPlanMejora/editar/" + id_propuesta;
        }

        $("#btnEliminarPropuesta").on('click', function () {
            eliminarPropuesta(pkEliminar);
            $("#eliminarPropuesta").modal('hide');
        });

        function propuestasEliminar(codigoPropuesta, pk) {
            console.log(codigoPropuesta)
            console.log(pk)

            data = '<h5 class="modal-title" id="eliminarResultadoLabel">Se eliminará el resultado ' + codigoPropuesta + '</h5>';
            $("#eliminarPropuestaLabel").html(data);
            $("#eliminarPropuesta").modal('show');
            pkEliminar = pk;
        };


        function eliminarPropuesta(propuestapk) {
            $.ajax({
                type: 'POST',
                url: "{% url 'eliminarPropuesta' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    propuestapk: propuestapk,
                },
                success: function (response) {
                    listarPropuestas();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

        function filtrarEspecialidades() {
            $.ajax({
                type: 'POST',
                url: "{% url 'filtrarEspecialidades' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    facultad: $("#cboFacultad").val(),
                },
                success: function (response) {
                    var instance = JSON.parse(response["resp"]);

                    $(".especialidad").remove();
                    for (var i = 0; i < instance.length; i++) {
                        data = '<option class="especialidad" onclick="listarPropuestas()" value=' +
                            instance[i]["pk"] + '>' +
                            instance[i]["fields"].nombre + '</option>';
                        $("#cboEspecialidad").append(data);
                    }

                    listarPropuestas();
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                },
            });
        }

        function listarPropuestas(numero) {

            $.ajax({
                type: 'POST',
                url: "{% url 'listarPropuestas' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    especialidad: $("#cboEspecialidad").val(),
                    planMejora: '{{ planmejora.pk }}'
                },
                success: function (response) {
                    var instance = JSON.parse(response['propuestas']);
                    var instance2 = JSON.parse(response['tiene_actividades']);
                    console.log(instance);
                    var i = 0;
                    var numero = instance.length;
                    var data = '';
                    var data2 = '';
                    for (i = 0; i < numero; i++) {
                        data += (
                            '<div class="card my-3 overflow-hidden" style="min-width: 12rem">' +
                            '<div class="bg-holder bg-card"' + 'style="background-image:url(' + '{% static '/img/illustrations/corner-3.png' %}' + ');">' + '</div>' +
                            '<div class="card-body position-relative">' +
                            '<h5>' + instance[i]["fields"].codigo  + '</h5>' + '<div class="my-1">' + instance[i]["fields"].descripcion + '</div>'
                            );
                        if (instance2[i] == false) {
                            data +=(
                                '<div class="alert alert-warning" role="alert">Nota: La propuesta de mejora no tiene actividades asociadas.' +
                                '                                Dar click en editar si desea asociar actividades.</div>'
                            )
                        }

                        data += (
                            '                        <button class="btn btn-falcon-primary mr-1 my-1" onclick="redirectEditarPropuesta(' + instance[i]["pk"] + ')">Editar</button>' +
                            '                        <button class="btn btn-falcon-danger mr-1 my-1" onclick="propuestasEliminar(\'' + instance[i]["fields"].codigo + '\',' + instance[i]["pk"] + ')"><span class="fa fa-times"></span> Eliminar</button>' +
                            '                    </div>' +
                            '                </div>' +
                            '        </div>' )
                    }
                    data2 = '<h5>'+' Propuestas de Mejora -' + $("#cboEspecialidad option:selected").text() + '</h5>';
                    $("#tituloEspecialidadPropuesta").html(data2);
                    $("#listadoPropuestas").html(data);
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log('ocurrio un error')
                    console.log(numero)
                    alert(response["responseJSON"]["error"]);
                }
            });
        }

    </script>
{% endblock %}