{% extends 'juan/base/base.html' %}


{#Aqui coloco el CSS particular de la web#}
{% block extrastyle %}
<style>
    h4{
        color:  #f1f3f1;
        text-align:center;
    }


    .card-deck{
        aling-items: center;
        justify-content: center;
        text-align:center;

    }

</style>

{% endblock %}


{#Aqui coloco el HTML PARTICULAR de la web#}
{% block body %}
        <h4> LISTADO DE PERSONAJES</h4>
<div class="row" style="padding-left: 5cm; padding-right: 5cm">
{% for personaje in listaPersonajes %}
        <div class="card-deck" style="width: 17rem;">
            <div class="card m-2 p-1">
                <img class="card-img-top pt-4" src="{{personaje.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ personaje.name }}</h5>
                    <h5 class ="card-subtitle">{{ personaje.type }} </h5>
                    <br>
                    <a href="../personajes/{{personaje.pk}}" class="btn btn-dark">Editar</a>
                    <a href="https://genshin-impact.fandom.com/es/wiki/{{personaje.name}}" target="_blank" class="btn btn-primary">Biografia</a>
                </div>
            </div>
        </div>
        <br>

{% endfor %}
</div>



{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}



{% endblock %}