{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}
    <form action="{% url 'crearNiv' %}" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <form>
                <div class="card p-5">
                    <h3 class="mb-0">Agregar Nivel</h3>
                    <hr>
                    <p></p>
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="row">
                                <label for="name">Nombre:</label>
                                <input class="form-control p-3" type="text" name="name" id="name"
                                       placeholder="Ingrese el nombre del nivel">
                            </div>
                        </div>
                        <p></p>
                        <div class="container-fluid">
                            <div class="row">
                                <label for="numPlayers">Valor:</label>
                                <input class="form-control p-3" type="value" name="value" id="value"
                                       placeholder="Ingrese el valor numérico del nivel">
                                <small id="value" class="form-text text-muted">El nuevo valor debe seguir un orden
                                    respecto al último nivel</small>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="d-inline-flex  flex-row justify-content-center">
                        <div class="d-flex p-2">
                            <a class="btn btn-outline-primary" type="button"
                               href="{% url 'listarNiv' %}">Cancelar
                            </a>
                        </div>
                        <div class="d-flex p-2">
                            <input type="submit" class="btn btn-primary" value="Registrar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </form>

    {% if registrado %}
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <b><p>Nivel registrado</p></b>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}