{% extends 'base/base.html' %}
{% load static %}

{#Bloque de extra style -> css#}
{% block extrastyle %}
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        #Titulo {
            color: #0154ae
        }

        p {
            line-height: 20%;
            text-align: center;
            font-family: "Montserrat";
        }

        label {
            color: #f9fafd;
            font-family: "Montserrat";
        }
    </style>

{% endblock %}

{#Bloque de extra body -> HTML#}
{% block body %}

    {#AQUI COLOQUEN EL CÓDIGO#}


    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-12">
                            <h4 id="Titulo" style="font-family: Montserrat">Niveles de desempeño </h4>
                            <hr style="background-color: #0154ae;">
                        </div>
                    </div>
                    <div class="btn btn-falcon-primary mb-2" href="#agregarNivelNuevo" data-toggle="modal"
                         role="button">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="dashboard-data-table">
                        <table class="table table-sm table-dashboard fs--1 data-table border-bottom"
                               data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                            <thead class="bg-200 text-900">
                            <tr>

                                <th class="sort pr-1 align-middle">N°</th>
                                <th class="sort pr-1 align-middle">Nombre</th>
                                <th class="sort pr-1 align-middle">Valor</th>
                                <th class="sort pr-1 align-middle text-center">Acción</th>
                            </tr>
                            </thead>
                            <tbody id="purchases">

                            {% for nivel in nivelLista %}
                                <tr class="btn-reveal-trigger">
                                    <th class="align-middle"> {{ forloop.counter }} </th>
                                    <th class="align-middle">{{ nivel.name }}</th>
                                    <td class="align-middle">{{ nivel.value }}</td>
                                    <td class="align-middle text-right fs-0">
                                        <form action="{% url 'listarNivel' %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <a href="{% url 'editarNiv' pk=nivel.pk %}"
                                                       class="badge badge rounded-capsule badge-soft-info">Editar</a>
                                                </div>
                                                <div class="col">
                                                    <button type="submit"
                                                            class="badge rounded-capsule badge-soft-danger outline-none">
                                                        <span>Eliminar</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <input type="hidden" id="nivelPk" name="nivelPk"
                                                   value="{{ nivel.pk }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-fixed-right modal-theme overflow-hidden"
         id="agregarNivelNuevo" tabindex="-1" role="dialog"
         aria-labelledby="settings-modal-label" aria-hidden="true"
         data-options='{"autoShow":false,"autoShowDelay":10,"showOnce":false}'>

        <div class="modal-dialog modal-dialog-vertical" style="opacity: 0.90" role="document">
            <div class="modal-content border-0 vh-100 scrollbar perfect-scrollbar" style="background-color: #017ECD;">

                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <h5 style="color: #f9fafd; font-family:Montserrat">Agregar Nivel</h5>
                        <hr style="background-color: #f9fafd; width: 70%">
                    </div>

                    <div class="row d-flex justify-content-center m-2">
                        <form name="formAgregar" id="formAgregar">
                            <div class="form-group row">
                                <label name="name" for="name"
                                       class="col-sm-4 col-form-label">Nombre</label>
                                <input type="text" class="form-control col-sm-8" id="name" name="name">
                            </div>
                            <br>
                            <div class="form-group row">
                                <label name="value" for="value"
                                       class="col-sm-4 col-form-label">Valor</label>
                                <input type="value" class="form-control col-sm-8" id="value" name="value">
                            </div>
                            <br>
                            <div class="form-group row m-3 p-2">
                                <div class="col-6">
                                    <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal" aria-label="Close">Cancelar
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button
                                            type="button" class="btn btn-primary" onclick="agregar()">Agregar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#Aquí coloco el JS particular de la web#}
{% block extrajs %}
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>

    <script>
        function agregar() {

            $.ajax({
                type: 'POST',
                url: "{% url 'agregarNivel'%}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    name: $("#name").val(),
                    value: $("#value").val(),
                },
                success: function (response) {

                    var instance = JSON.parse(response["nuevoNivel"]);
                    var fields = instance[0]["fields"];

                    location.reload();
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>

{% endblock %}